<div class="caro-container">
  <ngu-carousel
    #myCarousel
    [inputs]="carouselConfig"
    [dataSource]="[first, second, third]"
  >
    <div *nguCarouselDef="let item" class="item">
      <div class="tile">
        <ng-container *ngTemplateOutlet="item"></ng-container>
      </div>
    </div>

    <ng-template #first>
      <div class="caro-body box">
        <img src="/assets/images/clientlogo.jpg" alt="" />
      </div>
    </ng-template>

    <ng-template #second>
      <div class="caro-body box">
        <img src="/assets/images/clientlogo1.jpg" alt="" />
      </div>
    </ng-template>

    <ng-template #third>
      <div class="caro-body box">
        <img src="/assets/images/clientlogo2.jpg" alt="" />
      </div>
    </ng-template>
    <button NguCarouselNext class="rightRs showmore">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <!-- <button NguCarouselNext class="rightRs">></button> -->
    <!-- <button NguCarouselPrev class="leftRs"><</button> -->

    <!-- <ul class="myPoint" NguCarouselPoint>
    <li
      *ngFor="let x of myCarousel.pointNumbers; let x = index"
      [class.active]="x == myCarousel.activePoint"
      (click)="myCarousel.moveTo(x)"
    ></li>
  </ul> -->
  </ngu-carousel>
</div>
