<main>
  <div class="hero"></div>
  <div class="container">
    <div class="service">
      <div class="content__wrapper">
        <div class="content">
          <h3 class="heading">Payment Information</h3>
          <p class="heading-p">
            Based on your preferred program, kindly make payment to the account
            details below
          </p>
          <p class="account-p">
            Account Name: Halogen School of Security Management & Technology LTD
          </p>
          <p class="account-p">Account Number: 0769907916 Bank: Access Bank</p>

          <p class="heading-p">
            Send proof of payment to
            <a href="mailto:info@academyhalogen.com">info@academyhalogen.com </a
            >with your full name and preferred program.
          </p>
          <p class="heading-p">Thank You!</p>
        </div>
      </div>
    </div>
  </div>
</main>
