<div class="form">
  <!-- form.component.html -->
  <div class="hero" [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }">
    <div class="content">
      <h1>{{ headerText }}</h1>
      <p>
        {{ headerDescription }}
      </p>
      <div class="form-cta">
        <button (click)="scrolll('form')">Sign up here</button>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
  <div class="form-container">
    <div class="img-div">
      <img
        src="/assets/images/left-campaign.png"
        alt="left-img"
        class="left-img"
      />
    </div>
    <div class="form-div">
      <div class="form-header">
        <h3>Join the Webinar</h3>
        <p>Fill the form to sign up for the webinar</p>
      </div>
      <!-- Form -->
      <form
        [formGroup]="form"
        id="form"
        (ngSubmit)="onSubmit()"
        class="dynamic-form"
      >
        <div
          *ngFor="let field of formData?.fields; index as i"
          class="form-group"
        >
          <p *ngIf="field.question !== ''" class="form-label">
            {{ i + 1 }}. {{ field.question }}
            <span
              [style.color]="field.required === true ? '#ff0000' : '#333'"
              [style.fontSize]="field.required === true ? '14px' : '12px'"
              >{{ field.required ? "*" : "(optional)" }}</span
            >
          </p>
          <!-- Text input -->
          <div *ngIf="field.type === 'text'" class="form-input-group">
            <input
              [formControlName]="field.label"
              type="text"
              class="form-input"
            />
            <div
              *ngIf="
                form.get(field.label)?.invalid &&
                (form.get(field.label)?.dirty || form.get(field.label)?.touched)
              "
              class="form-error"
            >
              <div *ngIf="form.get(field.label)?.errors?.['required']">
                This field is required
              </div>
              <div *ngIf="form.get(field.label)?.errors">
                <div>Minimum length is {{ field.minLength }} characters</div>
                <!-- <div *ngIf="field.label.errors.minlength">
                    Minimum length is 3 characters
                  </div> -->
              </div>
            </div>
          </div>
          <!-- Email Input -->
          <div *ngIf="field.type === 'email'" class="form-input-group">
            <input
              [formControlName]="field.label"
              type="email"
              class="form-input"
            />
            <div
              *ngIf="
                form.get(field.label)?.invalid &&
                (form.get(field.label)?.dirty || form.get(field.label)?.touched)
              "
              class="form-error"
            >
              <div *ngIf="form.get(field.label)?.errors?.['required']">
                This field is required
              </div>
              <div *ngIf="form.get(field.label)?.errors">
                <div>email is not valid</div>
                <!-- <div *ngIf="field.label.errors.minlength">
                  Minimum length is 3 characters
                </div> -->
              </div>
            </div>
          </div>

          <div *ngIf="field.type === 'date'" class="form-input-group hidden">
            <input
              [formControlName]="field.label"
              type="text"
              class="form-input"
              [value]="form.get(field.label)?.setValue(getDate())"
            />
          </div>
          <!-- Phone Number Input -->
          <div *ngIf="field.type === 'tel'" class="form-input-group">
            <input
              [formControlName]="field.label"
              type="text"
              class="form-input"
            />
            <div
              *ngIf="
                form.get(field.label)?.invalid &&
                (form.get(field.label)?.dirty || form.get(field.label)?.touched)
              "
              class="form-error"
            >
              <div *ngIf="form.get(field.label)?.errors?.['required']">
                This field is required
              </div>
              <div *ngIf="form.get(field.label)?.errors">
                <div>Phone number is not valid</div>
                <!-- <div *ngIf="field.label.errors.minlength">
                    Minimum length is 3 characters
                  </div> -->
              </div>
            </div>
          </div>
          <!-- Radio buttons -->
          <div *ngIf="field.type === 'radio'" class="form-radio-group">
            <div *ngFor="let option of field.options" class="form-radio-option">
              <input
                type="radio"
                [formControlName]="field.label"
                [value]="option"
                class="form-radio-input"
              />
              <span>{{ option }}</span>
            </div>
          </div>
          <!-- Checkboxes -->
          <div
            *ngIf="field.type === 'checkbox'"
            formGroupName="{{ field.label }}"
            class="form-checkbox-group"
          >
            <div
              *ngFor="let option of field.options"
              class="form-checkbox-option diff"
              [ngStyle]="{
                'align-items': field.question === '' ? 'flex-start' : 'center'
              }"
            >
              <input
                type="checkbox"
                [formControlName]="option"
                class="form-checkbox-input"
              />
              <span
                [ngStyle]="{
                  'margin-top': field.question === '' ? '-6px' : ''
                }"
                >{{ option }}</span
              >
            </div>
            <div
              *ngIf="form.invalid && form.get(field.label)?.touched"
              class="form-error"
            >
              <div>Please select at least one option</div>
              <div
                *ngIf="form.get(field.label)?.errors"
                class="invalid-feedback"
              >
                Accept Ts & Cs is required
              </div>
            </div>
          </div>

          <!-- Select Input -->
          <select
            *ngIf="field.type === 'select'"
            [formControlName]="field.label"
            class="form-select"
          >
            <option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>

        <button type="submit" [disabled]="form.invalid" class="form-submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
