<footer class="footer">
  <div class="footer__row footer-primary">
    <div class="footer__column footer-logo">
      <!-- <img class="log" src="./assets/images/logo2.png" alt="halogenLogo" /> -->
      <!-- <img class="badg" src="./assets/images/badges.png" alt="iso-badge" /> -->
      <img class="badg" src="./assets/images/ISOlogo.png" alt="iso-badge" />
      <img class="spbs" src="./assets/images/spbs.png" alt="iso-badge" />
    </div>
    <div class="footer__column footer-about">
      <h3>About the group</h3>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a routerLink="/about-us">About us</a>
        </li>
        <li>
          <a routerLink="/why-choose-us">Why halogen</a>
        </li>
        <li>
          <a routerLink="/news-events">News & events</a>
        </li>
        <li>
          <a routerLink="/gallery">Gallery</a>
        </li>
        <li>
          <a routerLink="/our-clients">Clients</a>
        </li>
        <li>
          <a routerLink="/brochure">Training Brochure</a>
        </li>
        <li (click)="toPartner()">
          <a>Partner onboarding</a>
        </li>
      </ul>
    </div>
    <div class="footer__column footer-solutions">
      <h3>Our solutions</h3>
      <ul>
        <li>
          <a routerLink="/cyber-security">Cyber security solutions</a>
        </li>
        <li>
          <a routerLink="/security-technologies">Security Technologies/IoT</a>
        </li>
        <li>
          <a routerLink="/physical-security">Physical security & mobility</a>
        </li>
        <li>
          <a routerLink="/outsourcing-investigations-identity"
            >Identity risk solutions & outsourcing</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__column footer-sub">
      <h3>Subscribe to our newsletter and get the latest news and updates.</h3>
      <div class="input-group mb-3" style="margin-top: 16px">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="user's email"
          aria-describedby="button-addon2"
        />
        <button class="btn btn-sub" type="button" id="button-addon2">
          Subscribe
        </button>
      </div>
      <div class="footer__info">
        <p>+234-808-160-2646</p>
        <p>19B, Mobolaji Bank Anthony Way, Ikeja, Lagos. Nigeria</p>
        <p>info@halogen-group.com, corporate.support@halogen-group.com</p>
        <p>Whistleblowing mail: Whistleblowing@halogen-group.com</p>
        <p>Whistleblowing Phone: +234 913 103 3814</p>
      </div>
    </div>
  </div>
  <div class="footer__row footer-copyright">
    <div class="copyright">
      <p>Copyright© 2022 Halogen group | All rights reserved</p>
      <div class="d-links">
        <p class="privacy-policy" routerLink="/terms-of-use">Terms of Use</p>
        <p routerLink="/privacy-policy" class="privacy-policy">
          Privacy policy
        </p>
      </div>
    </div>
    <div class="socials">
      <div class="" (click)="fb()">
        <img src="./assets/images/fb.png" alt="facebook" />
      </div>
      <div class="" (click)="insta()">
        <img src="./assets/images/ig.png" alt="instagram" />
      </div>
      <div class="" (click)="twitter()">
        <img src="./assets/images/twitter.png" alt="reddit" />
      </div>
      <div class="" (click)="linkedin()">
        <img src="./assets/images/linkedin.png" alt="reddit" />
      </div>
    </div>
  </div>
</footer>
