<nav class="navbar" *ngIf="navb.visible">
  <div class="nav">
    <div class="nav__logo" routerLink="/">
      <img src="/assets/images/newlogo1.png" alt="logo" class="nav__logo-img" />
    </div>
    <div class="nav__menu">
      <ul class="empty-nav">
        <!-- <li>{{}}</li> -->
        <li class="nav__item" (click)="closeNav()" routerLink="/">
          <span>Home</span>
          <div></div>
        </li>
        <li class="nav__item" (click)="closeNav()">
          <span>{{ aboutUs }} <mat-icon>expand_more</mat-icon></span>

          <div></div>
          <ul class="drop-menu">
            <li (click)="closeNav()" *ngFor="let abtMen of aboutmenus">
              <a routerLink="/{{ abtMen.attributes.url }}"
                ><mat-icon>{{ abtMen.attributes.icon }}</mat-icon
                >{{ abtMen.attributes.name }}</a
              >
            </li>
          </ul>
        </li>
        <li class="nav__item" (click)="closeNav()" routerLink="/contact">
          <span>Contact US</span>
          <div></div>
        </li>
        <li
          (click)="openMenu($event)"
          [className]="activeMenu ? 'nav__item toggleNav' : 'nav__item'"
        >
          <span style="display: flex; align-items: center"
            >{{ otherSec }} <mat-icon>expand_more</mat-icon></span
          >

          <div></div>
        </li>
        <li class="nav__item" (click)="closeNav()">
          <span>{{ mediaCentre }} <mat-icon>expand_more</mat-icon></span>
          <div></div>
          <ul class="drop-menu dropdown_menu-6">
            <li (click)="closeNav()" *ngFor="let medMen of mediamenus">
              <a routerLink="/{{ medMen.attributes.url }}"
                ><mat-icon>{{ medMen.attributes.icon }}</mat-icon
                >{{ medMen.attributes.name }}</a
              >
            </li>
          </ul>
        </li>
        <li class="nav__item" (click)="search.show()" routerLink="/contact">
          <span> Search <mat-icon>search</mat-icon></span>
          <div></div>
        </li>
      </ul>
      <div class="halospher-btn">
        <button (click)="halo()">{{ enterHalo }}</button>
      </div>
      <!-- <ul class="nav__items">
        <li class="nav_item">
          <div class="halospher-btn">
            <button (click)="halo()">{{ enterHalo }}</button>
          </div>
        </li>
      </ul> -->

      <div class="nav-menu" (click)="onToggle()">
        <mat-icon>menu</mat-icon>
      </div>
    </div>
  </div>

  <div class="nav-menu-wrapper" *ngIf="isToggle">
    <ul class="menu-items">
      <li (click)="onToggle()" routerLink="/">Home</li>
      <li>
        <div class="" (click)="aboutToggle()">
          <button class="drop-btn">
            About Us <mat-icon>chevron_right</mat-icon>
          </button>
          <ul class="menu-dropdown" *ngIf="isAboutToggle">
            <li (click)="onToggle()" *ngFor="let medMen of aboutmenus">
              <a routerLink="/{{ medMen.attributes.url }}">
                <mat-icon>{{ medMen.attributes.icon }}</mat-icon
                >{{ medMen.attributes.name }}
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li (click)="onToggle()" routerLink="/contact">Contact</li>

      <li>
        <div class="" (click)="cyberToggle()">
          <button class="drop-btn">
            Cyber Security<mat-icon>chevron_right</mat-icon>
          </button>
          <ul class="menu-dropdown" *ngIf="isCyberToggle">
            <li (click)="onToggle()" *ngFor="let menu of cybermenusL">
              <a routerLink="/{{ menu.attributes.url }}">
                <mat-icon>{{ menu.attributes.icon }}</mat-icon
                >{{ menu.attributes.name }}
              </a>
            </li>

            <li (click)="onToggle()">
              <a routerLink="/cyber-security"> View All </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="" (click)="solutionToggle()">
          <button class="drop-btn">
            Security Tecnologies<mat-icon>chevron_right</mat-icon>
          </button>
          <ul class="menu-dropdown" *ngIf="isSolutionToggle">
            <li (click)="onToggle()" *ngFor="let menu of secTechMenu">
              <a routerLink="/{{ menu.attributes.url }}">
                <mat-icon>{{ menu.attributes.icon }}</mat-icon>
                {{ menu.attributes.name }}
              </a>
            </li>

            <li (click)="onToggle()">
              <a routerLink="/security-technologies"> View All </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="" (click)="phyToggle()">
          <button class="drop-btn">
            Physical Security & Mobility<mat-icon>chevron_right</mat-icon>
          </button>
          <ul class="menu-dropdown" *ngIf="isphyToggle">
            <li (click)="onToggle()" *ngFor="let menu of phyMenu">
              <a routerLink="/{{ menu.attributes.url }}">
                <mat-icon>{{ menu.attributes.icon }}</mat-icon>
                {{ menu.attributes.name }}
              </a>
            </li>
            <li (click)="onToggle()">
              <a routerLink="/physical-security"> View All </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="" (click)="outMenuToggle()">
          <button class="drop-btn">
            Identity Access Management<mat-icon>chevron_right</mat-icon>
          </button>
          <ul class="menu-dropdown" *ngIf="isOutToggle">
            <li (click)="onToggle()" *ngFor="let menu of outMenu">
              <a routerLink="/{{ menu.attributes.url }}">
                <mat-icon>{{ menu.attributes.icon }}</mat-icon>
                {{ menu.attributes.name }}
              </a>
            </li>
            <li (click)="onToggle()">
              <a routerLink="/outsourcing-investigations-identity">
                View All
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="" (click)="eduToggle()">
          <button class="drop-btn">
            Security Education<mat-icon>chevron_right</mat-icon>
          </button>
          <ul class="menu-dropdown" *ngIf="isEduToggle">
            <li (click)="onToggle()" *ngFor="let menu of secEduMenu">
              <a routerLink="/{{ menu.attributes.url }}">
                <mat-icon>{{ menu.attributes.icon }}</mat-icon>
                {{ menu.attributes.name }}
              </a>
            </li>

            <li (click)="onToggle()">
              <a routerLink="/security-seducation"> View All </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="" (click)="riskToggle()">
          <button class="drop-btn">
            Security Risk Advisory & Consultancy<mat-icon
              >chevron_right</mat-icon
            >
          </button>
          <ul class="menu-dropdown" *ngIf="isRiskToggle">
            <li (click)="onToggle()" *ngFor="let menu of riskMenu">
              <a routerLink="/{{ menu.attributes.url }}">
                <mat-icon>{{ menu.attributes.icon }}</mat-icon>
                {{ menu.attributes.name }}
              </a>
            </li>

            <li (click)="onToggle()">
              <a routerLink="/risk-advisory-and-consulting"> View All </a>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <div class="" (click)="mediaToggle()">
          <button class="drop-btn">
            Media Centre<mat-icon>chevron_right</mat-icon>
          </button>
          <ul class="menu-dropdown" *ngIf="isMediaToggle">
            <li (click)="onToggle()" *ngFor="let medMen of mediamenus">
              <a routerLink="/{{ medMen.attributes.url }}">
                <mat-icon>{{ medMen.attributes.icon }}</mat-icon>
                {{ medMen.attributes.name }}
              </a>
            </li>
            <!-- <li routerLink="/gallery" (click)="onToggle()">Gallery</li>
            <li routerLink="/gallery" (click)="onToggle()">ESMR Reports</li> -->
          </ul>
        </div>
      </li>
      <li (click)="search.show()" (click)="onToggle()">Search</li>
      <li></li>
      <li class="">
        <div class="halospher-btnn">
          <button (click)="halo()">{{ enterHalo }}</button>
        </div>
      </li>
    </ul>

    <div class="close-menu" (click)="onToggle()">
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <ng-container>
    <!-- <app-halogen-nav
      [cybermenusL]="cybermenusL"
      [outMenu]="outMenu"
      [phyMenu]="phyMenu"
      [secTechMenu]="secTechMenu"
      [secEduMenu]="secEduMenu"
      [riskMenu]="riskMenu"
      *ngIf="activeMenu"
      (btnClick)="closeNav()"
    ></app-halogen-nav> -->
    <app-newnav
      *ngIf="activeMenu"
      [cybermenusL]="cybermenusL"
      [outMenu]="outMenu"
      [phyMenu]="phyMenu"
      [secTechMenu]="secTechMenu"
      [secEduMenu]="secEduMenu"
      [riskMenu]="riskMenu"
      [defenseMenu]="defenseMenu"
      (btnClick)="closeNav()"
    ></app-newnav>
  </ng-container>
</nav>
