main {
  height: 100%;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(var(--muted));
  margin-top: 94px;
  padding: 63px 63px 100px 63px;
  border-radius: 10px;
  color: hsl(var(--muted-foreground));
}

.hero .left img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.hero h1 {
  color: hsl(var(--primary));
  font-size: clamp(1.75rem, 0.9464rem + 4.2857vw, 4rem);
  line-height: 78px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
}

.hero .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .socials {
  display: flex;
  gap: 10px;
  padding-bottom: 4px;
  margin-top: 1rem;
}
.hero .socials span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--secondary));
  padding: 7px;
  border-radius: 999px;
  box-shadow: 5px 6px 12px 0px hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
}

.service {
  background-image: url("/assets/images/rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  outline: #fff solid 15px;
  border-radius: 10px;
}

.service .content__wrapper {
  background-color: hsla(var(--primary), 0.9);
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
}

.service .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.service .heading {
  font-size: clamp(1.5rem, 1.0026rem + 2.6531vw, 3.125rem);
  text-transform: capitalize;
  line-height: 60px;
  margin: 0;
}

.service .cta {
  text-decoration: none;
  color: #fff;
  background-color: hsl(var(--secondary));
  padding: 10px 30px;
  border-radius: 999px;
  box-shadow: 0px 4px 8px 0px hsla(45, 100%, 49%, 0.5);
}
.heading-p {
  line-height: 30px;
}

@media (min-width: 400px) {
  .hero .left img {
    width: 280px;
    height: 280px;
  }
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }
  .hero .left img {
    width: 350px;
    height: 350px;
  }

  .service {
    margin-top: -80px;
  }
}
@media (min-width: 1024px) {
  .hero .left img {
    width: 500px;
    height: 500px;
  }
  .service {
    margin-top: -100px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    justify-content: center;
  }
  .hero h1 {
    text-align: center;
    line-height: 40px;
  }
  .hero .right {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
