<div class="cyberwebcontent">
  <div class="web-contentContainer">
    <!-- <h3>HALOGEN CYBER WEB CONTENT</h3> -->

    <ol type="1">
      <li class="numberList">
        <div class="web-content">
          <p class="web-title">Security Operations Center (SOC)</p>
          <p class="sub-heading">
            Welcome to Halogen Cyber Security Operations Center (SOC)
          </p>
          <p class="web-text">
            At our cutting-edge Security Operations Center (SOC), we are your
            digital guardians, tirelessly monitoring, detecting, and responding
            to threats in real-time. Our elite team of cybersecurity experts
            combines advanced technology with human intelligence to provide you
            with unparalleled protection. Stay ahead of cyber threats and keep
            your data secure with our SOC services.
          </p>
        </div>
        <div class="web-sublist">
          <p class="web-title">Explore Our SOC Solutions</p>
          <ul>
            <li>Real-time Threat Monitoring</li>
            <li>Incident Detection and Response</li>
            <li>Proactive Vulnerability Management</li>
            <li>24/7 Security Oversight</li>
          </ul>
        </div>
      </li>
      <li class="numberList">
        <div class="web-content">
          <p class="web-title">Managed Security Services Provider (MSSP)</p>
          <p class="sub-heading">
            Elevate Your Security with Our Managed Services Expertise
          </p>
          <p class="web-text">
            As a leading Managed Security Services Provider (MSSP), we go beyond
            traditional cybersecurity solutions. Our managed services model
            brings a proactive, 24/7 approach to safeguarding your digital
            assets. With a comprehensive suite of offerings, we empower you to
            focus on your core business while we handle the intricacies of
            cybersecurity.
          </p>
        </div>
        <div class="web-sublist">
          <p class="web-title">Our MSSP Solutions</p>
          <ul>
            <li>
              Managed Firewall Services - Safeguard your network infrastructure
              with our comprehensive managed firewall solutions, customized to
              your business requirements
            </li>
            <li>
              Intrusion Detection & Prevention - Our advanced systems monitor
              for suspicious activities, promptly blocking unauthorized access
              and preventing potential breaches
            </li>
            <li>
              SIEM & Threat Intelligence - Leverage our Security Information and
              Event Management (SIEM) expertise to gain insights from security
              data, empowering informed decisions
            </li>
            <li>
              Endpoint Protection - Ensure every device in your network is
              protected against malware, ransomware, and other threats with our
              robust endpoint security solutions
            </li>
          </ul>
        </div>
      </li>
      <li class="numberList">
        <div class="web-content">
          <p class="web-title">IoT Security</p>
          <p class="sub-heading">
            Empower Your IoT Ecosystem with Unbeatable Security
          </p>
          <p class="web-text">
            Unlock the potential of the Internet of Things (IoT) while ensuring
            uncompromising security. Our IoT security solutions fortify your
            connected devices, networks, and applications against evolving cyber
            risks. Safeguard your data and maintain control over your IoT
            infrastructure with our comprehensive security measures.
          </p>
        </div>
        <div class="web-sublist">
          <p class="web-title">Discover Our IoT Security Offerings</p>
          <ul>
            <li>Device Authentication and Authorization</li>
            <li>Data Encryption and Privacy</li>
            <li>Anomaly Detection for IoT Networks</li>
            <li>Secure Firmware Updates</li>
          </ul>
        </div>
      </li>
      <li class="numberList">
        <div class="web-content">
          <p class="web-title">Governance, Risk, and Compliance (GRC)</p>
          <p class="sub-heading">
            Navigate the Digital Landscape with Confidence through GRC
          </p>
          <p class="web-text">
            Effortlessly steer through the complex world of governance, risk,
            and compliance with our tailored solutions. We provide you with the
            tools and strategies to align your business goals with regulatory
            requirements, effectively manage risks, and ensure a culture of
            compliance. Elevate your operations while mitigating potential
            threats.
          </p>
        </div>
        <div class="web-sublist">
          <p class="web-title">Explore GRC with Us</p>
          <ul>
            <li>Regulatory Compliance Management</li>
            <li>Risk Assessment and Mitigation</li>
            <li>Policy Development and Enforcement</li>
            <li>GRC Training and Consultation</li>
          </ul>
        </div>
      </li>
      <li class="numberList">
        <div class="web-content">
          <p class="web-title">Cybersecurity Awareness Program:</p>
          <p class="sub-heading">
            Empower Your Team with Cybersecurity Awareness
          </p>
          <p class="web-text">
            Equip your workforce with the knowledge and skills they need to be
            the first line of defense against cyber threats. Our cybersecurity
            awareness program is designed to engage, educate, and empower your
            employees to recognize and respond to potential risks. Together,
            let's build a resilient cybersecurity culture.
          </p>
        </div>
        <div class="web-sublist">
          <p class="web-title">
            Experience our Cybersecurity Awareness Initiatives
          </p>
          <ul>
            <li>Interactive Training Modules</li>
            <li>Phishing Simulations and Recognition</li>
            <li>Best Practices for Data Protection</li>
            <li>Continuous Learning and Updates</li>
          </ul>
        </div>
      </li>
      <li class="numberList">
        <div class="web-content">
          <p class="web-title">Halogen Cybersecurity Internship Programme</p>
          <p class="sub-heading">
            Shape Your Future with the Halogen Cybersecurity Internship
            Programme
          </p>
          <p class="web-text">
            Welcome to the Halogen Cybersecurity Internship Programme, where we
            nurture the next generation of cybersecurity professionals. Gain
            hands-on experience, learn from industry experts, and embark on a
            journey that propels your career in the dynamic world of
            cybersecurity.
          </p>
        </div>
        <div class="web-sublist">
          <p class="web-title">Explore the Internship Programme</p>
          <ul>
            <li>
              Practical Learning: Immerse yourself in real-world scenarios,
              working on actual cybersecurity projects that equip you with
              invaluable skills.
            </li>
            <li>
              Mentorship: Learn from the best. Our experienced mentors guide you
              through the intricacies of cybersecurity, providing insights that
              go beyond textbooks.
            </li>
            <li>
              Cutting-edge Technology: Access the latest tools and technologies
              used in the field, preparing you to tackle modern cyber challenges
              head-on.
            </li>
            <li>
              Networking Opportunities: Connect with fellow interns,
              professionals, and industry leaders, building a network that opens
              doors for your future endeavors.
            </li>
          </ul>
        </div>
        <div class="web-sublist">
          <p class="web-title">
            Why Choose Us As Your Ultimate Cybersecurity Partner
          </p>
          <ul>
            <li>
              Expertise: Our seasoned cybersecurity professionals bring a wealth
              of experience to the table, ensuring you receive the best-in-class
              solutions that cater to your unique security needs
            </li>
            <li>
              Comprehensive Solutions: From securing your IoT devices to
              navigating the intricacies of compliance, our holistic range of
              solutions covers all aspects of cybersecurity, safeguarding your
              digital landscape from every angle
            </li>
            <li>
              Comprehensive Solutions: From securing your IoT devices to
              navigating the intricacies of compliance, our holistic range of
              solutions covers all aspects of cybersecurity, safeguarding your
              digital landscape from every angle
            </li>
            <li>
              Proactive Approach: Our Security Operations Center (SOC) offers
              real-time threat monitoring and proactive vulnerability
              management, enabling us to detect and mitigate risks before they
              escalate
            </li>
            <li>
              Customized Strategies: We understand that every business is
              different. Our experts work closely with you to develop tailored
              cybersecurity strategies that align with your goals, ensuring your
              investment yields the highest returns
            </li>
            <li>
              Empowerment Through Awareness: Our cybersecurity awareness program
              empowers your team with the knowledge and skills needed to
              recognize and respond to potential threats, making your entire
              organization a formidable defense against cyber-attacks
            </li>
            <li>
              Trust and Reliability: With a track record of successfully
              protecting businesses across industries, we have earned the trust
              of our clients through an unwavering commitment to their security
              and our proven reliability
            </li>
            <li>
              Continual Learning: The world of cybersecurity is dynamic. We
              offer continuous learning and updates to keep you abreast of the
              ever-evolving landscape, ensuring your security posture remains
              robust over time
            </li>
            <li>
              Hands-on Experience: Theory is important, but practical experience
              sets you apart. With our internship, you get to apply your
              knowledge in real-world situations, boosting your confidence and
              competence
            </li>
          </ul>
        </div>
      </li>
    </ol>
  </div>

  <p class="web-title">
    Choose us as your cybersecurity partner, and together, let's build an
    impregnable digital fortress that secures your present and future. Your
    security is our mission.
  </p>
  <p class="web-title">
    Contact us today to learn more and schedule a consultation.
  </p>

  <div class="btn-container">
    <button class="booking-btn" (click)="open(content)">
      Book your consultation
    </button>
  </div>
  <div class="caro-container">
    <ngu-carousel
      #myCarousel
      [inputs]="carouselConfig"
      [dataSource]="clientlogos"
    >
      <div *nguCarouselDef="let item; of" class="item">
        <div class="tile">
          <div class="caro-body box">
            <img src="{{ item.image }}" alt="" />
          </div>
        </div>
      </div>
      <button NguCarouselNext class="rightRs">></button>
      <button NguCarouselPrev class="leftRs"><</button>
    </ngu-carousel>
  </div>
</div>

<ng-template #content let-modal class="moddd">
  <div class="modal-header">
    <div class="m-title">
      <h4 class="modal-title" id="modal-basic-title">Book Your Consultation</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>

  <app-consultationmodal></app-consultationmodal>
</ng-template>
