<div class="news">
  <!-- Main post -->

  <div class="new__mainPost">
    <div class="mainpost_left">
      <app-newscarousel [headlinePost]="headlinesPost"></app-newscarousel>
    </div>

    <div class="mainPost_related">
      <h3>Related News</h3>
      <app-vposts [post]="posts" *ngFor="let posts of normalPosts"></app-vposts>
    </div>
  </div>

  <!-- Must Read Section -->
  <!-- <div class="news__must-read">
    <app-mustread></app-mustread>
  </div> -->
  <div class="news__divider">
    <div class="news__div"></div>
    <div class="news__div"></div>
  </div>
  <!-- Posts -->
  <div class="news__header">
    <h1 class="news__header-title">New Blog Posts</h1>
    <p class="news__header-text">Let’s keep you updated with us!</p>
    <p>Read the latest news and articles that pertains to Halogen</p>
  </div>

  <div class="news__posts">
    <app-minipost
      [post]="post"
      *ngFor="let post of blogPosts"
      class="news__post"
    >
    </app-minipost>
  </div>
</div>
