<div class="news">
  <!-- Main post -->

  <div class="new__mainPost">
    <div class="mainpost_left">
      <app-newscarousel [headlinePost]="headlinesPost"></app-newscarousel>
    </div>

    <div class="mainPost_related">
      <h3>Related news</h3>
      <app-vposts [post]="posts" *ngFor="let posts of normalPosts"></app-vposts>
    </div>
  </div>

  <!-- Must Read Section -->
  <!-- <div class="news__must-read">
    <app-mustread></app-mustread>
  </div> -->
  <div class="news__divider">
    <div class="news__div"></div>
    <div class="news__div"></div>
  </div>
  <!-- Posts -->
  <div class="news__header">
    <h1 class="news__header-title">Latest posts</h1>
  </div>

  <div class="news__posts">
    <app-minipost
      [post]="post"
      *ngFor="
        let post of blogPosts | paginate : { itemsPerPage: 12, currentPage: p }
      "
      class="news__post"
    >
    </app-minipost>
  </div>
  <!-- <div class="news__divider">
    <div class="news__div"></div>
    <div class="news__div"></div>
  </div>
  <div class="news__header">
    <h1 class="news__header-title">Our Thought Leadership</h1>
    <p class="news__header-text">Some of our thought leadership pieces</p>
  </div> -->
  <div class="paginate">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
