<div class="megas-menu" (click)="$event.stopPropagation()">
  <div class="menu-div dropdown_menu-6">
    <div class="menu__row">
      <div class="menu__column">
        <div (click)="toggleMenu()" class="menu_col_header">
          <a routerLink="/cyber-security">Cyber Security</a>
        </div>
        <ul>
          <li (click)="toggleMenu()" *ngFor="let menu of cybermenusL">
            <mat-icon>{{ menu.attributes.icon }}</mat-icon>
            <a routerLink="{{ menu.attributes.url }}" target="_blank">{{
              menu.attributes.name
            }}</a>
          </li>
        </ul>
        <div class="vr"></div>
      </div>

      <div class="menu__column">
        <div (click)="toggleMenu()" class="menu_col_header">
          <a routerLink="/security-technologies">Security Technologies/IoT</a>
        </div>
        <ul>
          <li (click)="toggleMenu()" *ngFor="let menu of secTechMenu">
            <mat-icon>{{ menu.attributes.icon }}</mat-icon
            ><a routerLink="{{ menu.attributes.url }}" target="_blank">{{
              menu.attributes.name
            }}</a>
          </li>
        </ul>
        <div class="vr"></div>
      </div>

      <div class="menu__column">
        <div (click)="toggleMenu()" class="menu_col_header">
          <a routerLink="/physical-security">Physical Security & Mobility</a>
        </div>
        <ul>
          <li (click)="toggleMenu()" *ngFor="let menu of phyMenu">
            <mat-icon>{{ menu.attributes.icon }}</mat-icon
            ><a routerLink="{{ menu.attributes.url }}" target="_blank">{{
              menu.attributes.name
            }}</a>
          </li>
        </ul>
        <div class="vr"></div>
      </div>

      <div class="menu__column">
        <div (click)="toggleMenu()" class="menu_col_header">
          <a routerLink="/outsourcing-investigations-identity"
            >Identity Risk Solutions & Outsourcing
          </a>
        </div>

        <ul>
          <li (click)="toggleMenu()" *ngFor="let menu of outMenu">
            <mat-icon>{{ menu.attributes.icon }}</mat-icon
            ><a routerLink="{{ menu.attributes.url }}" target="_blank">{{
              menu.attributes.name
            }}</a>
          </li>
        </ul>
        <div class="vr"></div>
      </div>

      <div class="menu__column">
        <div (click)="toggleMenu()" class="menu_col_header">
          <a routerLink="/security-seducation">Security Education</a>
        </div>

        <ul>
          <li (click)="toggleMenu()" *ngFor="let menu of secEduMenu">
            <mat-icon>{{ menu.attributes.icon }}</mat-icon
            ><a routerLink="{{ menu.attributes.url }}">{{
              menu.attributes.name
            }}</a>
          </li>
        </ul>
        <div class="vr"></div>
      </div>

      <div class="menu__column">
        <div (click)="toggleMenu()" class="menu_col_header">
          <a routerLink="/risk-advisory-and-consulting"
            >Security Risk Advisory & Consultancy</a
          >
        </div>
        <ul>
          <li (click)="toggleMenu()" *ngFor="let menu of riskMenu">
            <mat-icon>{{ menu.attributes.icon }}</mat-icon
            ><a routerLink="{{ menu.attributes.url }}">{{
              menu.attributes.name
            }}</a>
          </li>
        </ul>
      </div>

      <div class="menu__column">
        <div (click)="toggleMenu()" class="menu_col_header">
          <a routerLink="/cyber-security"
            >Defence industries contracting & support services</a
          >
        </div>
        <ul style="margin-top: 3rem">
          <li (click)="toggleMenu()">
            <mat-icon>local_shipping</mat-icon>
            <a routerLink="" target="_blank">Logistics</a>
          </li>
          <li (click)="toggleMenu()">
            <mat-icon>storefront</mat-icon>
            <a routerLink="" target="_blank">Procurement services </a>
          </li>
          <li (click)="toggleMenu()">
            <mat-icon>analytics</mat-icon>
            <a routerLink="" target="_blank"
              >Research, Analytics & Intelligence</a
            >
          </li>
          <li (click)="toggleMenu()">
            <mat-icon>home_max</mat-icon>
            <a routerLink="" target="_blank"> IoT Based Remote Surveillance </a>
          </li>
          <li (click)="toggleMenu()">
            <mat-icon>bar_chart</mat-icon>
            <a routerLink="" target="_blank">Strategic Consulting & Advisory</a>
          </li>
        </ul>
        <!-- <div class="vr"></div> -->
      </div>
    </div>
    <div class="menu__features">
      <h3>Check out our best features</h3>
      <div class="features">
        <div routerLink="/cyber-security" class="feature">
          <div class="f_logo">
            <mat-icon>laptop</mat-icon>
          </div>
          <div class="f_description">
            <h3>Cyber Security Solutions</h3>
          </div>
        </div>
        <div routerLink="/physical-security" class="feature">
          <div class="f_logo">
            <mat-icon>verified_user</mat-icon>
          </div>
          <div class="f_description">
            <h3>Physical Security & Mobility</h3>
          </div>
        </div>
        <div (click)="toElem()" class="feature">
          <div class="f_logo">
            <mat-icon>fingerprint</mat-icon>
          </div>
          <div class="f_description">
            <h3>Security Technologies/IoT</h3>
          </div>
        </div>
        <div routerLink="/outsourcing-investigations-identity" class="feature">
          <div class="f_logo">
            <mat-icon>settings</mat-icon>
          </div>
          <div class="f_description">
            <h3>Outsourcing, Investigations & Identity</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
