<div class="why">
  <section class="why_business">
    <div class="why__business">
      <div class="business_left">
        <h1>{{ mainHeader }}</h1>
        <p>{{ mainBody1 }}</p>
        <img
          class="mobile-img"
          src="./assets/images/choose.png"
          alt="whychooseus"
        />
        <p>{{ mainBody2 }}</p>
      </div>
      <div class="business_right">
        <img src="./assets/images/choose.png" alt="whychooseus" />
      </div>
    </div>
  </section>
  <div class="news__divider">
    <div class="news__div"></div>
    <div class="news__div"></div>
  </div>
  <section>
    <div class="why-choose-us">
      <h2>{{ whyHeader }}</h2>
      <div class="card-container">
        <div class="card" *ngFor="let reason of reasons">
          <img
            class="card-img"
            [src]="reason.attributes.image.data.attributes.url"
            alt="reasons"
          />
          <div class="card-text">
            <p>{{ reason.attributes.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="news__divider">
    <div class="news__div"></div>
    <div class="news__div"></div>
  </div>
  <section class="why_solutions">
    <div class="why_solutions-header">
      <h2>{{ solutionHeader }}</h2>
      <div class="header_text"></div>
    </div>
    <div class="why_carousel">
      <app-solutioncarousel [solution]="solutions"></app-solutioncarousel>
    </div>
  </section>
  <section class="why_contact">
    <div class="why__contact">
      <h2>{{ contactHeader }}</h2>
      <p>{{ contactBody }}</p>
      <div routerLink="/contact" class="why__contact-btn">
        <button>Contact us</button>
        <div class="ct-icon">
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="why_faqs">
    <div class="why__faqs">
      <h2>{{ faqHeader }}</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let item of faqs">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#' + item.attributes.faqId"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              {{ item.attributes.header }}
            </button>
          </h2>
          <div
            id="{{ item.attributes.faqId }}"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              {{ item.attributes.body }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
