<div class="security">
  <div class="header">
    <div class="header-text">
      <h5 class="small-text">{{ productName }}</h5>
      <h2 class="big-text">{{ productHeader }}</h2>
    </div>
    <div class="header-btn">
      <button class="btn-cyber btn-service" (click)="open(risk)">
        Book Service
      </button>

      <ng-template #risk let-modal class="moddd">
        <div class="modal-header">
          <div class="m-title">
            <h4 class="modal-title" id="modal-basic-title">
              Book any of our {{ productName }}
            </h4>
            <h4 class="modal-title"></h4>
          </div>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss()"
          ></button>
        </div>
        <app-modal-pop [services]="services"></app-modal-pop>
      </ng-template>
    </div>
  </div>
  <div class="hero-section">
    <img [src]="mainImage" alt="" />
  </div>
  <div class="hero-text">
    <p>{{ productBody1 }}</p>
    <p>{{ productBody2 }}</p>
    <p>{{ productBody3 }}</p>
    <p>{{ productBody4 }}</p>
  </div>
  <!-- <div class="banner-section">
    <div
      class="banner"
      (click)="scrolll(bann.attributes.url)"
      *ngFor="let bann of banners"
    >
      <div class="icon">
        <mat-icon>{{ bann.attributes.icon }}</mat-icon>
      </div>
      <div class="text">
        <h3>{{ bann.attributes.name }}</h3>
        <p>
          {{ bann.attributes.description }}
        </p>
      </div>
    </div>
  </div> -->
  <div class="more-info">
    <!-- <div
      [className]="prod.attributes.active ? 'second-section' : 'first-section'"
      id="{{ prod.attributes.productId }}"
      *ngFor="let prod of products"
    >
      <div class="info-img info-img-line">
        <img
          [src]="prod.attributes.productImage.data.attributes.url"
          alt=""
          class="info-img"
        />
      </div>
      <div class="info-text">
        <h5>{{ prod.attributes.productName }}</h5>
        <h2>{{ prod.attributes.productHeader }}</h2>
        <button (click)="open(content)">Book Service</button>
        <p>
          {{ prod.attributes.productDescription }}
        </p>
      </div>

      <ng-template #content let-modal class="moddd">
        <div class="modal-header">
          <div class="m-title">
            <h4 class="modal-title" id="modal-basic-title">
              {{ prod.attributes.productName }}
            </h4>
            <h4 class="modal-title">
              On Trend, On Time, For You and Your Customers
            </h4>
          </div>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss()"
          ></button>
        </div>

        <app-servicemodal
          [productName]="prod.attributes.productName"
        ></app-servicemodal>
      </ng-template>
    </div> -->
    <div class="main-section">
      <div [className]="yy ? 'second-section' : 'first-section'" id="soc">
        <div class="info-img info-img-line">
          <img
            src="https://www.networkcablingservices.com/wp-content/uploads/2022/06/When-Should-You-Consider-a-Security-Operations-Center-SOC.jpeg"
            alt=""
            class="info-img"
          />
        </div>
        <div class="info-text">
          <h5>Security Operations Center (SOC)</h5>
          <h2>Welcome to Halogen Cyber Security Operations Center (SOC)</h2>

          <p>
            At our cutting-edge Security Operations Center (SOC), we are your
            digital guardians, tirelessly monitoring, detecting, and responding
            to threats in real-time. Our elite team of cybersecurity experts
            combines advanced technology with human intelligence to provide you
            with unparalleled protection. Stay ahead of cyber threats and keep
            your data secure with our SOC services.
          </p>
        </div>

        <ng-template #socc let-modal class="moddd">
          <div class="modal-header">
            <div class="m-title">
              <h4 class="modal-title" id="modal-basic-title">
                Security Operations Center (SOC)
              </h4>
              <h4 class="modal-title">
                On Trend, On Time, For You and Your Customers
              </h4>
            </div>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss()"
            ></button>
          </div>

          <app-servicemodal [productName]="soc"></app-servicemodal>
        </ng-template>
      </div>
      <div class="web-sublist">
        <p class="web-title">Explore Our SOC Solutions</p>
        <ul>
          <li>Real-time Threat Monitoring</li>
          <li>Incident Detection and Response</li>
          <li>Proactive Vulnerability Management</li>
          <li>24/7 Security Oversight</li>
        </ul>
        <button (click)="open(socc)">Book Service</button>
      </div>
    </div>
    <div class="main-section">
      <div [className]="!yy ? 'second-section' : 'first-section'" id="mssp">
        <div class="info-img info-img-line">
          <img
            src="/assets/images/dataprotection.jpg"
            alt=""
            class="info-img"
          />
        </div>
        <div class="info-text">
          <h5>Managed Security Services Provider (MSSP)</h5>
          <h2>Elevate Your Security with Our Managed Services Expertise</h2>

          <p>
            As a leading Managed Security Services Provider (MSSP), we go beyond
            traditional cybersecurity solutions. Our managed services model
            brings a proactive, 24/7 approach to safeguarding your digital
            assets. With a comprehensive suite of offerings, we empower you to
            focus on your core business while we handle the intricacies of
            cybersecurity.
          </p>
        </div>

        <ng-template #msspp let-modal class="moddd">
          <div class="modal-header">
            <div class="m-title">
              <h4 class="modal-title" id="modal-basic-title">
                Managed Security Services Provider (MSSP)
              </h4>
              <h4 class="modal-title">
                On Trend, On Time, For You and Your Customers
              </h4>
            </div>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss()"
            ></button>
          </div>

          <app-servicemodal [productName]="mssp"></app-servicemodal>
        </ng-template>
      </div>
      <div class="web-sublist">
        <p class="web-title">Our MSSP Solutions</p>
        <ul>
          <li>
            Managed Firewall Services - Safeguard your network infrastructure
            with our comprehensive managed firewall solutions, customized to
            your business requirements
          </li>
          <li>
            Intrusion Detection & Prevention - Our advanced systems monitor for
            suspicious activities, promptly blocking unauthorized access and
            preventing potential breaches
          </li>
          <li>
            SIEM & Threat Intelligence - Leverage our Security Information and
            Event Management (SIEM) expertise to gain insights from security
            data, empowering informed decisions
          </li>
          <li>
            Endpoint Protection - Ensure every device in your network is
            protected against malware, ransomware, and other threats with our
            robust endpoint security solutions
          </li>
        </ul>
        <button (click)="open(msspp)">Book Service</button>
      </div>
    </div>
    <div class="main-section">
      <div [className]="yy ? 'second-section' : 'first-section'" id="iot">
        <div class="info-img info-img-line">
          <img
            src="https://img.freepik.com/free-photo/athletic-woman-using-her-smartphone_53876-96953.jpg"
            alt=""
            class="info-img"
          />
        </div>
        <div class="info-text">
          <h5>IoT Security</h5>
          <h2>Empower Your IoT Ecosystem with Unbeatable Security</h2>

          <p>
            Unlock the potential of the Internet of Things (IoT) while ensuring
            uncompromising security. Our IoT security solutions fortify your
            connected devices, networks, and applications against evolving cyber
            risks. Safeguard your data and maintain control over your IoT
            infrastructure with our comprehensive security measures.
          </p>
        </div>

        <ng-template #iott let-modal class="moddd">
          <div class="modal-header">
            <div class="m-title">
              <h4 class="modal-title" id="modal-basic-title">IoT Security</h4>
              <h4 class="modal-title">
                On Trend, On Time, For You and Your Customers
              </h4>
            </div>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss()"
            ></button>
          </div>

          <app-servicemodal [productName]="iot"></app-servicemodal>
        </ng-template>
      </div>
      <div class="web-sublist">
        <p class="web-title">Discover Our IoT Security Offerings</p>
        <ul>
          <li>Device Authentication and Authorization</li>
          <li>Data Encryption and Privacy</li>
          <li>Anomaly Detection for IoT Networks</li>
          <li>Secure Firmware Updates</li>
        </ul>
        <button (click)="open(iott)">Book Service</button>
      </div>
    </div>
    <div class="main-section">
      <div [className]="!yy ? 'second-section' : 'first-section'" id="grc">
        <div class="info-img info-img-line">
          <img
            src="https://www.acquisition-international.com/wp-content/uploads/2022/06/Compliance-1.jpg"
            class="info-img"
          />
        </div>
        <div class="info-text">
          <h5>Governance, Risk, and Compliance (GRC)</h5>
          <h2>Navigate the Digital Landscape with Confidence through GRC</h2>

          <p>
            Effortlessly steer through the complex world of governance, risk,
            and compliance with our tailored solutions. We provide you with the
            tools and strategies to align your business goals with regulatory
            requirements, effectively manage risks, and ensure a culture of
            compliance. Elevate your operations while mitigating potential
            threats.
          </p>
        </div>

        <ng-template #grcc let-modal class="moddd">
          <div class="modal-header">
            <div class="m-title">
              <h4 class="modal-title" id="modal-basic-title">
                Governance, Risk, and Compliance (GRC)
              </h4>
              <h4 class="modal-title">
                On Trend, On Time, For You and Your Customers
              </h4>
            </div>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss()"
            ></button>
          </div>

          <app-servicemodal [productName]="grc"></app-servicemodal>
        </ng-template>
      </div>
      <div class="web-sublist">
        <p class="web-title">Explore GRC with Us</p>
        <ul>
          <li>Regulatory Compliance Management</li>
          <li>Risk Assessment and Mitigation</li>
          <li>Policy Development and Enforcement</li>
          <li>GRC Training and Consultation</li>
        </ul>
        <button (click)="open(grcc)">Book Service</button>
      </div>
    </div>
    <div class="main-section">
      <div [className]="yy ? 'second-section' : 'first-section'" id="cap">
        <div class="info-img info-img-line">
          <img
            src="https://imagevars.gulfnews.com/2023/03/27/Cybersecurity-_18723400af9_medium.jpg"
            class="info-img"
          />
        </div>
        <div class="info-text">
          <h5>Cybersecurity Awareness Program</h5>
          <h2>Empower Your Team with Cybersecurity Awareness</h2>

          <p>
            Equip your workforce with the knowledge and skills they need to be
            the first line of defense against cyber threats. Our cybersecurity
            awareness program is designed to engage, educate, and empower your
            employees to recognize and respond to potential risks. Together,
            let's build a resilient cybersecurity culture.
          </p>
        </div>

        <ng-template #capp let-modal class="moddd">
          <div class="modal-header">
            <div class="m-title">
              <h4 class="modal-title" id="modal-basic-title">
                Cybersecurity Awareness Program
              </h4>
              <h4 class="modal-title">
                On Trend, On Time, For You and Your Customers
              </h4>
            </div>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss()"
            ></button>
          </div>

          <app-servicemodal [productName]="cap"></app-servicemodal>
        </ng-template>
      </div>
      <div class="web-sublist">
        <p class="web-title">
          Experience our Cybersecurity Awareness Initiatives
        </p>
        <ul>
          <li>Interactive Training Modules</li>
          <li>Phishing Simulations and Recognition</li>
          <li>Best Practices for Data Protection</li>
          <li>Continuous Learning and Updates</li>
        </ul>
        <button (click)="open(capp)">Book Service</button>
      </div>
    </div>
    <div class="main-section">
      <div [className]="!yy ? 'second-section' : 'first-section'" id="hcip">
        <div class="info-img info-img-line">
          <img
            src="https://nonprofitmegaphone.com/wp-content/uploads/2021/08/ffffffffff.jpg"
            class="info-img"
          />
        </div>
        <div class="info-text">
          <h5>Halogen Cybersecurity Internship Programme</h5>
          <h2>
            Shape Your Future with the Halogen Cybersecurity Internship
            Programme
          </h2>
          <!-- <button (click)="open(hcipp)">Join Internship</button> -->
          <p>
            Welcome to the Halogen Cybersecurity Internship Programme, where we
            nurture the next generation of cybersecurity professionals. Gain
            hands-on experience, learn from industry experts, and embark on a
            journey that propels your career in the dynamic world of
            cybersecurity.
          </p>
        </div>

        <ng-template #hcipp let-modal class="moddd">
          <div class="modal-header">
            <div class="m-title">
              <h4 class="modal-title" id="modal-basic-title">
                Halogen Cybersecurity Internship Programme
              </h4>
              <h4 class="modal-title">
                On Trend, On Time, For You and Your Customers
              </h4>
            </div>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss()"
            ></button>
          </div>

          <app-servicemodal [productName]="hcip"></app-servicemodal>
        </ng-template>
      </div>
      <div class="web-sublist">
        <p class="web-title">Explore the Internship Programme</p>
        <ul>
          <li>
            Practical Learning: Immerse yourself in real-world scenarios,
            working on actual cybersecurity projects that equip you with
            invaluable skills.
          </li>
          <li>
            Mentorship: Learn from the best. Our experienced mentors guide you
            through the intricacies of cybersecurity, providing insights that go
            beyond textbooks.
          </li>
          <li>
            Cutting-edge Technology: Access the latest tools and technologies
            used in the field, preparing you to tackle modern cyber challenges
            head-on.
          </li>
          <li>
            Networking Opportunities: Connect with fellow interns,
            professionals, and industry leaders, building a network that opens
            doors for your future endeavors.
          </li>
        </ul>
        <button (click)="open(hcipp)">Join Internship</button>
      </div>
      <app-slider></app-slider>
      <div class="web-partners">
        <p class="web-title">
          Why Choose Us As Your Ultimate Cybersecurity Partner
        </p>
        <ul>
          <li>
            <span>Expertise:</span> Our seasoned cybersecurity professionals
            bring a wealth of experience to the table, ensuring you receive the
            best-in-class solutions that cater to your unique security needs
          </li>
          <li>
            <span>Comprehensive Solutions:</span> From securing your IoT devices
            to navigating the intricacies of compliance, our holistic range of
            solutions covers all aspects of cybersecurity, safeguarding your
            digital landscape from every angle
          </li>

          <li>
            <span>Proactive Approach:</span> Our Security Operations Center
            (SOC) offers real-time threat monitoring and proactive vulnerability
            management, enabling us to detect and mitigate risks before they
            escalate
          </li>
          <li>
            <span>Customized Strategies:</span> We understand that every
            business is different. Our experts work closely with you to develop
            tailored cybersecurity strategies that align with your goals,
            ensuring your investment yields the highest returns
          </li>
          <li>
            <span> Empowerment Through Awareness:</span> Our cybersecurity
            awareness program empowers your team with the knowledge and skills
            needed to recognize and respond to potential threats, making your
            entire organization a formidable defense against cyber-attacks
          </li>
          <li>
            <span>Trust and Reliability:</span> With a track record of
            successfully protecting businesses across industries, we have earned
            the trust of our clients through an unwavering commitment to their
            security and our proven reliability
          </li>
          <li>
            <span>Continual Learning: </span> The world of cybersecurity is
            dynamic. We offer continuous learning and updates to keep you
            abreast of the ever-evolving landscape, ensuring your security
            posture remains robust over time
          </li>
          <li>
            <span>Hands-on Experience:</span> Theory is important, but practical
            experience sets you apart. With our internship, you get to apply
            your knowledge in real-world situations, boosting your confidence
            and competence
          </li>
        </ul>
      </div>
      <app-slider-two></app-slider-two>
    </div>
  </div>

  <!-- <app-carousel></app-carousel> -->
</div>
