.con-slider h1 {
  text-align: center;
  font-weight: 600;
  font-size: clamp(1.25rem, 0.0781rem + 3.75vw, 2.1875rem);
  color: #1c2b66;
}

.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  height: 100px;
  margin: auto auto 3rem auto;
  overflow: hidden;
  position: relative;

  /* width: 960px; */
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);

  gap: 3rem;
}
.slider .slide {
  height: 100px;
  width: 250px;
}
img {
  /* filter: grayscale(1); */

  width: 100%;
  object-fit: contain;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
