<div class="con-slider">
  <h1>Our Partners</h1>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img
          src="/assets/images/logos/partner1.jpg"
          height="100"
          width="350"
          alt="slide-img"
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/partner2.jpg"
          height="100"
          width="250"
          alt="slide-img"
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/partner3.png"
          height="100"
          width="250"
          alt="slide-img"
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/partner4.jpg"
          height="100"
          width="250"
          alt="slide-img"
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/partner5.png"
          height="100"
          width="250"
          alt="slide-img"
        />
      </div>
    </div>
  </div>
</div>
