<div class="con-slider">
  <h1>Some of our Cyber Clients</h1>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="/assets/images/logos/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/logos/2.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/logos/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/logos/4.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/logos/5.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/logos/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/logos/7.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="/assets/images/logos/8.jpg" height="100" width="250" alt="" />
      </div>
    </div>
    <div class="slide-track-two">
      <div class="slide">
        <img src="/assets/images/logos/9.jpg" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/10.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/11.png"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/13.png"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/14.png"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/15.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/16.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/17.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
    </div>
    <div class="slide-track">
      <div class="slide">
        <img
          src="/assets/images/logos/18.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/19.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/20.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/21.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/22.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/23.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/24.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/25.png"
          height="100"
          width="250"
          alt=""
        />
      </div>
    </div>
    <div class="slide-track-two">
      <div class="slide">
        <img
          src="/assets/images/logos/26.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/27.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/28.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/29.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/30.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/31.png"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/32.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/33.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
    </div>
    <div class="slide-track">
      <div class="slide">
        <img
          src="/assets/images/logos/34.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/35.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/36.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/37.png"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/38.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/39.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/40.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="/assets/images/logos/41.jpg"
          height="100"
          width="250"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
