<div class="jobs">
  <div class="jobs-header-section">
    <div class="job-header-text">
      <a routerLink="/career" target="_blank">Physical Security</a>
      <h1 class="job-title">Elite Corp - Smart guards</h1>
    </div>
  </div>
  <div class="job-details-section">
    <div class="details-container">
      <div class="header-container">
        <h3 class="details-header">
          Join our elite corp of technology assisted smart guards
        </h3>
      </div>

      <p class="details-text">
        Will you like to build a career in the security sector? This is an
        opportunity to be trained and employed by Nigeria’s leading security
        solutions provider, Halogen Group. Your Gain
      </p>
      <h5 class="details-subtitle">Your Gain</h5>
      <ul class="details-list">
        <li>Work with reputable international & Nigerian organizations</li>
        <li>
          World class support with digital technology & nationwide emergency
          response
        </li>
        <li>Attractive & regular salary</li>
        <li>World class training</li>
        <li>Subsidized health insurance (HMO) Pension Minimum Requirements</li>
      </ul>
      <h5 class="details-subtitle">Minimum Requirements</h5>
      <ul class="details-list">
        <li>Age: 20 - 45 years</li>
        <li>Height: 5ft. 8" (male) 5ft. 6" (female)</li>
        <li>
          Education requirement: Senior Secondary Certicate Education (SSCE)
        </li>
      </ul>
      <p class="details-text">
        Apply in person with CV, credentials (certifcates) and four (4) passport
        photographs for interview (8:00am Mon - Fri) at the following locations
      </p>

      <div class="job-location">
        <h5 class="location-header details-subtitle">Recruitment Locations</h5>
        <div class="location-container">
          <div class="locations">
            <p>9, Cappa Avenue, Palmgrove Estate</p>
            <p>Palmgrove, Lagos, Nigeria.</p>
            <p>Tel:+2348038097820 +2349062234131</p>
          </div>
          <div class="locations">
            <p>11. Ademola Street, South West Ikoyi</p>
            <p>Off Awolowo Road, Ikoyi, Lagos, Nigeria.</p>
            <p>Tel: +2348141327118</p>
          </div>
          <div class="locations">
            <p>Fellowship Bus-Stop, Along Idiroko Road,</p>
            <p>Otta, Ogun State, Nigeria.</p>
            <p>. Tel: +2349062234131</p>
          </div>
        </div>
        <h5 class="details-time">
          Interview / Recruitment holds 8.00am (Mon-Fri)
        </h5>
      </div>
    </div>
  </div>
</div>
