<div class="qms">
  <img src="/assets/images/qms2.jpg" alt="" class="qms-bg" />
  <div class="qms-container">
    <h1>QUALITY POLICY STATEMENT</h1>
    <p>
      Halogen Group in line with its strategic direction is committed to the
      provision of excellent security solutions that meet and exceed statutory,
      regulatory, customers and stakeholders’ requirements.
    </p>
    <p>
      We provide an environment in which every stakeholder is motivated to
      continually improve the efficiency and effectiveness of our quality
      management system in accordance with the requirement of QMS ISO 9001 2015.
    </p>
    <div class="signed">
      <p class="sign">Signed by: <Span>WALE OLAOYE</Span></p>
      <p>Group Managing Director/CEO</p>
    </div>
  </div>
</div>
