.stepper-card {
  max-width: 900px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.btn-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
}

pre {
  background: #f8f9fa;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.85rem;
}

.submit-btn {
  width: 100%;
  padding: 0.75rem 1.5rem;
  background: rgba(255, 194, 14, 1);
  border: none;
  color: #fff;
  border-radius: 8px;
}
.bt-color {
  background: rgba(255, 194, 14, 1);
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.form-check-input:checked {
  background-color: #f6c93b !important;
  border-color: #f6c93b !important;
}

.form-check-input:focus {
  border-color: #f6c93b !important;
  box-shadow: 0 0 0 0.25rem rgba(246, 201, 59, 0.5) !important;
}

.form-check-input {
  cursor: pointer;
}

/* img {
  width: 69%;
  object-fit: cover;
  height: 100%;
} */

.mw-600 {
  max-width: 550px;
}
.bg-contact {
  background: rgba(28, 43, 102, 1);
}
/* .img-wrapper {
  height: fit-content;
  width: 100%;
} */
.cont-height {
  overflow: hidden;
  height: 70vh;
}
.big-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.submit-img {
  width: 100%;
  max-width: 355px;
  object-fit: contain;
}

.con-height {
  display: flex;
  min-height: 70vh;
}

.bg-contact,
.bg-black {
  display: flex;
  flex-direction: column;
}

.bg-contact > .card,
.bg-black > img {
  flex: 1;
  width: 100%;
}

.big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
