<div class="home">
  <section class="home-carousel">
    <app-homecarousel [banner]="banner"></app-homecarousel>
  </section>
  <section class="home__business">
    <div class="business">
      <div class="business__header">
        <h2>{{ businessSectionHeader }}</h2>
        <!-- <p>{{ businessSectionSubHeader }}</p> -->

        <div class="home__emerging">
          <img src="/assets/images/robots.png" alt="" />
          <div>
            <h3>
              A mastery of emerging trends in security risks across physical &
              virtual spaces
            </h3>
            <p>
              with digital technology and internet connectivity now at the very
              heart of human life, the borders between virtual and physical
              spaces are continuously being eliminated. This new openness of the
              world creates a completely new set of security risks,
              fundamentally changing the very nature of security risk solutions
              that will effectively meet today’s security risk & personal safety
              demands
            </p>
          </div>
        </div>

        <div class="home__solutions">
          <img src="/assets/images/newsolutions.jpg" alt="" />
          <div>
            <h3>A new approach to security solutions</h3>
            <p>
              Halogen’s proposition of safety in an open world provides a clear
              road map for the future direction of security risk management and
              captures the emerging complexities of a high connectivity digital
              era, providing innovative & practical security solutions for
              people, enterprises & governments
            </p>
          </div>
        </div>

        <h3 class="home__specific">
          HOW MAY WE HELP YOU ACHIEVE SAFETY TODAY?
        </h3>
        <h4 class="home__specific-sub">
          Explore our wide array of security risk & personal safety solutions
        </h4>
      </div>
      <div class="business__solutions">
        <div class="business__solutions-left">
          <div class="solution-cols" *ngFor="let fl of fybLeft">
            <div
              routerLink="{{ fl.attributes.url }}"
              [className]="
                fl.attributes.active
                  ? 'solution-icon icon-secondary'
                  : 'solution-icon icon-primary'
              "
            >
              <mat-icon>{{ fl.attributes.solutionIcon }}</mat-icon>
            </div>
            <div class="solution-text">
              <h2 routerLink="{{ fl.attributes.url }}">
                {{ fl.attributes.solutionName }}
              </h2>
              <p>{{ fl.attributes.solutionDescription }}</p>
            </div>
          </div>
        </div>
        <div class="business__solutions-right">
          <div class="solution-cols" *ngFor="let fr of fybRight">
            <div
              routerLink="{{ fr.attributes.url }}"
              [className]="
                fr.attributes.active
                  ? 'solution-icon icon-secondary'
                  : 'solution-icon icon-primary'
              "
            >
              <mat-icon>{{ fr.attributes.solutionIcon }}</mat-icon>
            </div>
            <div class="solution-text">
              <h2 routerLink="{{ fr.attributes.url }}">
                {{ fr.attributes.solutionName }}
              </h2>
              <p>{{ fr.attributes.solutionDescription }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home__halo">
    <div class="home__halosphere">
      <div class="halosphere_inner">
        <div class="halosphere_left">
          <img src="./assets/images/rollsafenew.png" alt="rollsafe" />
        </div>
        <div class="halosphere_right">
          <div class="halosphere_right-text">
            <h4>Explore the</h4>
            <h5>Hal<span style="color: #e0ab10">o</span>sphere</h5>
            <p>
              Halogen welcomes you to Halosphere – your peace haven where
              technology drives security
            </p>
            <div class="sphere-btn">
              <button (click)="halo()">Get started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="home__clients">
    <div class="home__client">
      <div class="client__images">
        <!-- <div class="home__client-num">
          <h5>400+</h5>
          <p>Clients across Africa partner with us</p>
        </div> -->
        <div class="home-client-carousel">
          <app-clientcarousel></app-clientcarousel>
        </div>
      </div>
    </div>
  </section>
  <div class="client__reviews">
    <div class="client_re">
      <div class="client__reviews-header">
        <h5>{{ reviewHeader }}</h5>

        <div class="arrows">
          <mat-icon>arrow_back</mat-icon>
          <mat-icon>arrow_forward</mat-icon>
        </div>
      </div>
      <div class="client__reviews-content">
        <div class="reviews-content">
          <h5>“Solution Driven”</h5>
          <p class="reviews-content-p">
            "I have been working with Halogen Security for the past five years,
            and I am continually impressed with their level of service. The
            staff is friendly and knowledgeable and always willing to help. In
            addition, the products and services they offer are of the highest
            quality and have allowed me to expand my business in ways I never
            imagined. I highly recommend Halogen Security to anyone looking for
            quality products and services."
          </p>
          <div class="review-author">
            <img src="/assets/images/wilson.jpg" alt="author" />
            <div class="author__">
              <p class="author-name">Wilson Thai</p>
              <p class="author-location">Ontario, Canada</p>
              <p class="author-star">
                <mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star</mat-icon>
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-content">
          <h5>“Massively impact business in the positive direction”</h5>
          <p class="reviews-content-p">
            "I have been using Halogen Group for the past year and have been
            delighted with their services. The customer service is outstanding,
            and they have always gone above and beyond to meet my needs. Their
            product is top-notch, and I have made my business more efficient
            because of their software. I highly recommend Halogen!"
          </p>
          <div class="review-author">
            <img src="/assets/images/jide.jpg" alt="author" />
            <div class="author__">
              <p class="author-name">Chukwu Emeka</p>
              <p class="author-location">Abuja, FCT</p>
              <p class="author-star">
                <mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star</mat-icon>
              </p>
            </div>
          </div>
        </div>
        <div class="reviews-content">
          <h5>“They are the best in what they do!”</h5>
          <p class="reviews-content-p">
            “I recently had the pleasure of working with Halogen Group. I was
            blown away by the level of service and professionalism that the team
            provided. They provided me with high-quality products and services
            and were always available to answer any questions. I highly
            recommend Halogen Group to anyone looking for exceptional service
            and products.”
          </p>
          <div class="review-author">
            <img
              src="https://st.focusedcollection.com/18590116/i/650/focused_444507230-stock-photo-portrait-african-american-male-businessman.jpg"
              alt="author"
            />
            <div class="author__">
              <p class="author-name">Jide Adams</p>
              <p class="author-location">Lagos, Nigeria</p>
              <p class="author-star">
                <mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star</mat-icon><mat-icon>star</mat-icon
                ><mat-icon>star</mat-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home__divider">
    <div></div>
    <div></div>
  </div>
  <section class="relatedposts">
    <div class="related">
      <app-relatedpost [guide]="guides" [combo]="combination"></app-relatedpost>
    </div>
  </section>
</div>
