.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__business {
  width: 100%;
  margin: 3rem 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.business {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.business__header {
  text-align: center;
  margin-top: 2.5rem;
}

.business__header h1 {
  text-align: center;
  font-size: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
  font-weight: 600;
  color: #1c2b66;
  font-family: "Poppins", sans-serif;
}

.business__header p {
  color: #000;
  font-size: clamp(0.9375rem, 0.8259rem + 0.3571vw, 1.1rem);
  font-weight: 400;
  text-align: justify;
  margin-top: 1.5rem;
}

.business__solutions {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  justify-content: space-between;
}

.business__solutions-left,
.business__solutions-right {
  width: 47%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.solution-cols {
  display: flex;
  align-items: flex-start;
  gap: 1.3rem;
  width: 100%;
}

.solution-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-primary {
  background: #1c2b66;
}

.icon-secondary {
  background: #ffcc2a;
}

.solution-text {
  width: 80%;
}

.solution-text h2 {
  font-size: clamp(1.0625rem, 0.9509rem + 0.3571vw, 1.375rem);
  cursor: pointer;
  color: #1c2b66;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.solution-text p {
  font-size: clamp(0.9375rem, 0.8259rem + 0.3571vw, 1.1rem);
  text-align: justify;
  line-height: 25px;
  font-weight: 400;
}

.home__halo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 3rem 0 0 0;
}

.why__contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #fcbe00;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  color: black;
  max-width: 250px;
  height: 60px;
}

.why__contact-btn:hover {
  gap: 0.75rem;
  background: #e6b215;
  margin-top: -35rem;
}
.why__contact-btn button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: clamp(0.875rem, 0.7857rem + 0.2857vw, 1.125rem);
}

.ct-icon {
  background: #1c2b66;
  border: 1.5px solid #f9d875;
  padding: 0.4rem 0.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home__divider {
  width: 90%;
  max-width: 1300px;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.home__divider div {
  width: 43%;
  border-top: 0.7px solid rgba(28, 43, 102, 0.21);
}

.home__halosphere {
  width: 100%;
  height: 65vh;
  min-height: fit-content;
  border-radius: 5px;
  background-image: url("/assets/images/newhalo.webp");
  background-size: cover;
  position: relative;
  background-position: center;
}

.halosphere_inner {
  position: absolute;
  bottom: 0;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.halosphere_left,
.halosphere_right {
  width: 49%;
}

.halosphere_left img {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  min-width: 350px;
}
.halosphere_right {
  height: 100%;
  float: right;
  position: relative;
  margin-bottom: 6rem;
}
.sphere-btn button {
  padding: 1rem 3rem;
  border-radius: 30px;
  background: #fcbe00;
  font-size: clamp(0.90625rem, 0.8257rem + 0.3684vw, 1.125rem);
  color: #000;
  /* font-weight: 600; */
  border: none;
}

.halo-icon {
  font-size: 10px;
  color: #1c2b66;
  margin-left: 20px;
}

.halo-btn > .mat-icon {
  color: #1c2b66;
  height: fit-content !important;
}
.halosphere_right-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  color: #1d2c4d;
  /* position: relative; */
}

.halosphere_right-text h5 {
  width: 100%;
  font-size: clamp(2.5rem, 1.4638rem + 4.7368vw, 5.3125rem);
  font-weight: 900;
}
.halosphere_right-text h4 {
  font-size: clamp(1.25rem, 0.8816rem + 1.6842vw, 2.25rem);
  font-weight: 600;
}

.halosphere_right-text p {
  font-size: clamp(0.90625rem, 0.8257rem + 0.3684vw, 1.125rem);
  font-weight: 300;
  margin-top: 1rem;
}

.halo-icon {
  font-size: clamp(1.5625rem, 0.7366rem + 2.6429vw, 3.875rem);
}

.home__halosphere span {
  color: #ffcc2a;
}

.home__clients {
  width: 100%;
  margin: 0rem 0;
}
.home__client,
.related {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.home__client-num h5 {
  font-size: clamp(1.875rem, 1.3393rem + 1.7143vw, 3.375rem);
  font-weight: 600;
}
.client__images {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
}

.home-client-carousel {
  width: 80%;
  max-height: 100px;
  z-index: 80;
  overflow-x: hidden;
  overflow-y: hidden;
}

.client__images img {
  height: 70px;
  object-fit: contain;
}

.marque-images {
  display: flex;
  justify-content: space-between;
}

.client__reviews {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/top.webp"),
    url("/assets/images/bottom.webp");
  background-position: top left, bottom left;
}

.client_re {
  width: 90%;
  margin: 5rem auto;
  max-width: 1300px;
}

.client__reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client__reviews-header h5 {
  width: 50%;
  font-size: clamp(1.875rem, 1.3393rem + 1.7143vw, 3.375rem);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 56px;
  color: #1c2b66;
}

.arrows {
  width: 5%;
  float: right;
}

.client__reviews-content {
  margin: 5.5rem auto 0 auto;
  width: 100%;
  max-width: 1300px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 30px;
  /* padding: 20px; */

  row-gap: 25px;
}

.reviews-content {
  /* width: 360px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviews-content h5 {
  font-size: clamp(1.0625rem, 0.9286rem + 0.4286vw, 1.4375rem);
  text-align: justify;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #1c2b66;
  line-height: 35px;
  margin: 0;
}

.reviews-content-p {
  font-size: clamp(0.875rem, 0.7411rem + 0.4286vw, 0.95rem);
  text-align: justify;
  line-height: 30px;
  color: #606176;
  font-weight: 400;
  margin: 0;
}

.review-author {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.review-author img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-size: clamp(0.875rem, 0.7411rem + 0.4286vw, 1.25rem) !important;
  font-weight: 600;
  color: #101130;
  margin: 0;
}

.author-location {
  font-size: clamp(0.75rem, 0.7054rem + 0.1429vw, 0.875rem);
  color: #606176;
  margin: 0;
}

.author-star .mat-icon {
  font-size: 13px;
  color: #ffcc2a;
}

.relatedposts {
  width: 100%;
  margin: 4rem 0;
}

.related {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .home__halosphere {
    height: 90vh;
  }
  .halosphere_inner {
    flex-direction: column;
    gap: 4rem;
    left: unset;
    top: unset;
    transform: unset;
  }

  .halosphere_left,
  .halosphere_right {
    width: 100%;
  }

  .halosphere_right h1 {
    line-height: 30px;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .business__solutions-left,
  .business__solutions-right {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .client__images {
    flex-direction: column;
    gap: 0.3rem;
  }

  .home-client-carousel {
    width: 100%;
  }

  .home__client-num {
    width: 100%;
    padding: 0 1rem;
  }

  .client__reviews-header h1 {
    width: 90%;
  }

  .halo-btn {
    margin-top: 1rem;
    width: 200px;
    font-size: 12px;
    padding: 1rem;
    height: 45px;
  }
}

@media screen and (max-width: 500px) {
  .solution-cols {
    gap: 0.8rem;
  }
  .solution-icon {
    width: 40px;
    height: 40px;
  }
  .solution-icon .mat-icon {
    transform: scale(0.8);
  }
}
