<div class="brochure">
  <h1>Nigeria's Security Outlook</h1>
  <div class="brochure-container">
    <div class="brochure-item">
      <a
        (click)="
          download(
            'https://res.cloudinary.com/dnjccz6dn/image/upload/v1709723041/Nigeria_Sec_Outlook_24_fv4MaR24_compressed_compressed_2_gkgfdp.pdf'
          )
        "
      >
        <img src="/assets/images/outlook.png" alt="brochure" />
      </a>
      <button
        (click)="
          download(
            'https://res.cloudinary.com/dnjccz6dn/image/upload/v1709723041/Nigeria_Sec_Outlook_24_fv4MaR24_compressed_compressed_2_gkgfdp.pdf'
          )
        "
      >
        Download
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </div>
</div>
