<main>
  <div class="container">
    <div class="hero">
      <div class="left">
        <img
          src="/assets/images/email_campaign.png"
          alt="email_campaign"
          height="400"
          width="400"
        />
      </div>
      <div class="right">
        <h1>Thank you for reaching out to us</h1>
        <p>We would get back to you shortly!</p>
        <div class="socials">
          <span (click)="fb()"
            ><img
              src="/assets/images/facebook.svg"
              alt="facebook"
              width="20"
              height="20"
          /></span>
          <span (click)="insta()"
            ><img
              src="/assets/images/instagram.svg"
              alt="instagram"
              width="20"
              height="20"
          /></span>
          <span (click)="twitter()"
            ><img src="/assets/images/x.svg" alt="x" width="20" height="20"
          /></span>
          <span (click)="linkedin()"
            ><img
              src="/assets/images/linkedin.svg"
              alt="linkedin"
              width="20"
              height="20"
          /></span>
        </div>
        <small>Stay in touch with us</small>
      </div>
    </div>

    <div class="service">
      <div class="content__wrapper">
        <div class="content">
          <h3 class="heading">Explore our range of services</h3>
          <p class="heading-p">
            Discover the range of tailored services we offer to help your
            business grow and succeed. From Cyber Security Solutions to Physical
            Manguarding, we deliver solutions designed to meet your unique
            needs.
          </p>
          <a
            routerLink="/why-choose-us"
            routerLinkActive="router-link-active"
            class="cta"
          >
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
