<div id="cookiePopup" class="hide">
  <img src="/assets/images/logo.png" alt="logo" />
  <p>
    By proceeding, I agree to the collection, processing, use, and transfer of
    personal data to third parties (within and outside Nigeria) for the
    performance of this contract and any other data processing activities that
    may arise between myself and Halogen Group. I affirm that I am aware of and
    understand my rights under the relevant Data Protection Laws in Nigeria, as
    well as the other terms detailed in Halogen Group's Data Privacy Policy.
    authorize and consent that any person in possession of, or who may later
    acquire, information pertaining to my records may disclose such information
    to Halogen Group.

    <!-- <a href="#">Cookie Policy & Privacy.</a> -->
  </p>
  <button id="acceptCookie">Agree</button>
</div>
