/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito+Sans&family=Poppins:wght@400;700&family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
img,
nav,
button {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
h2 {
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}
