<div class="brochure">
  <h1>Halogen Training Brochure</h1>
  <div class="brochure-container">
    <div class="brochure-item">
      <a
        (click)="
          download(
            'https://res.cloudinary.com/dnjccz6dn/image/upload/v1708817353/Training_Brochure_2_compressed_eueifw.pdf'
          )
        "
      >
        <img src="/assets/images/brochure.png" alt="brochure" />
      </a>
      <button
        (click)="
          download(
            'https://res.cloudinary.com/dnjccz6dn/image/upload/v1708817353/Training_Brochure_2_compressed_eueifw.pdf'
          )
        "
      >
        Download Brochure
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </div>
</div>
