<div class="privacy-policy">
  <div class="privacy-top">
    <div class="topContainer">
      <div class="privacy-topLeft">
        <h2>Halogen Group Terms Of Use Statement</h2>
        <p>Last Updated: Feb 2023</p>
      </div>
      <div class="privacy-topRight">
        <p><mat-icon>expand_more</mat-icon> Expand all</p>
        <p (click)="print()"><mat-icon>print</mat-icon>Print</p>
      </div>
    </div>
  </div>
  <div class="privacy-main">
    <div class="privacy-headers">

      <div class="privacy-contents">
        <div class="contentLeft">
          <p class="policyHeading" (click)="scrolll('introduction')">Introduction</p>
          <p class="policyHeading" (click)="scrolll('age')">Age Requirements </p>
          <p class="policyHeading" (click)="scrolll('updates')">Updates & Communications</p>
          <p class="policyHeading" (click)="scrolll('description')">Description of Our Services</p>
          <p class="policyHeading" (click)="scrolll('services')">Your Use of Our Services</p>
          <p class="policyHeading" (click)="scrolll('user')">User Account & Content</p>
          <p class="policyHeading" (click)="scrolll('security')">Security</p>
          <p class="policyHeading" (click)="scrolll('privacy')">Privacy Policy & Data Protection</p>
          <p class="policyHeading" (click)="scrolll('intellectual')">Intellectual Property Rights & Ownership</p>
          <p class="policyHeading" (click)="scrolll('disclaimer')">Disclaimer</p>


          <p class="policyHeading" (click)="scrolll('limitation')"> Limitation of Liability & Waiver</p>
          <p class="policyHeading" (click)="scrolll('license')"> License Limitations</p>
          <p class="policyHeading" (click)="scrolll('suspension')">Suspension or Withdrawal of Our Services</p>
          <p class="policyHeading" (click)="scrolll('breach')"> Breach of Terms of Use</p>
          <p class="policyHeading" (click)="scrolll('waiver')"> No Waiver</p>
          <p class="policyHeading" (click)="scrolll('indemnification')"> Indemnification</p>
          <p class="policyHeading" (click)="scrolll('severability')"> Severability</p>
          <p class="policyHeading" (click)="scrolll('termination')"> Termination</p>
          <p class="policyHeading" (click)="scrolll('applicable')">Applicable Law</p>
          <p class="policyHeading" (click)="scrolll('dispute')"> Dispute Resolution
          </p>
          <p class="policyHeading" (click)="scrolll('entire')"> Entire Agreement</p>
          <p class="policyHeading" (click)="scrolll('amendment')"> Amendment</p>
          <p class="policyHeading" (click)="scrolll('contact')"> Contact</p>
        </div>


        <div class="contentRight">
          <div class="policyDescription" id="introduction">
            <h4 class="policyMainHeader">Introduction</h4>
            <hr>
            <div class="policyDescriptionText">

              <p>These Terms of Use (“Terms”) is a legal agreement between you, and Halogen Group (“we”, “our” or “us”)
                and shall govern your access to and use of all services, software, applications and websites
                (collectively referred to as the “Services”) provided by Halogen. These Terms also cover your use of
                interactive features, widgets, plug-ins, content, data, information, downloads and other materials that
                we own and control and are accessible on our applications or websites regardless of how you access or
                use any of them, whether via computer, mobile device or otherwise.</p>
              <p>By subscribing, registering, accessing, evaluating, downloading, installing, or in any way using the
                Services, you acknowledge and agree that you are bound to these terms and accept our Privacy Policy
                <a href="https://halogen-group.com/privacy-policy">(https://halogen-group.com/privacy-policy)</a> that
                is incorporated into these Terms by reference and that,
                together, stipulate how different aspects of your personal data would be processed by us.
              </p>
              <p>Please carefully read these Terms below before subscribing to the Services. Once you register as a user
                of our Services you agree that you have read, understood, and agree to be bound by these Terms of Use.
                Please do not access our applications or use our Services if you do not agree to the Terms of Use. We
                recommend that you keep a copy of these Terms for future reference.
              </p>
            </div>

          </div>
          <div class="policyDescription" id="age">
            <h4 class="policyMainHeader">
              <p class="policyHeading" (click)="scrolll('age')">Age Requirements </p>
            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>By consenting to these Terms, you are assumed to be of legal age for the purpose of using the Services
                within the country from where you access them. The Services are not intended for children, although
                certain services may allow for the provision of third-party information (which could be that of a
                child), our target users are not children.
              </p>
            </div>

          </div>
          <div class="policyDescription" id="updates">
            <h4 class="policyMainHeader">Updates & Communications</h4>
            <hr>
            <div class="policyDescriptionText">
              <p>We reserve the right to modify, vary and change the Terms or its policies relating to the Services at
                any time as we deem fit. Such modifications, variations, and/or changes to the Terms or our applicable
                policies shall be effective upon the posting of an updated version on our websites or applications. You
                agree that it shall be your responsibility to review the Terms of Use regularly. The date of the last
                update shall be conspicuously displayed. Provided always that the continued use of the Services after
                any such changes, whether or not reviewed by you, shall constitute your consent and acceptance to such
                changes and modifications.</p>

              <p>You agree that we shall not be liable to you or to any third party for any modification of this Terms
                of Use. You agree to receive all communications, and notices that we provide in connection with the
                Services, via electronic means, including by e-mail, text, or by posting them on our websites or
                applications. You agree that all communications we provide to you electronically satisfy any legal
                requirement that such communications be in writing or be delivered in a particular manner and you agree
                to keep your contact information current.</p>
            </div>

          </div>
          <div class="policyDescription" id="description">
            <h4 class="policyMainHeader">Description of Our Services</h4>
            <hr>
            <div class="policyDescriptionText">
              <p>Halogen provides integrated, digital-enabled, end-to-end solutions ranging from security services, core
                business applications, customer relationship management solutions, enterprise resource planning
                solutions, and enterprise security risk management. Halogen reserves the right to expand or reduce its
                service offerings at any time.
              </p>

            </div>

          </div>
          <div class="policyDescription" id="services">
            <h4 class="policyMainHeader">Your Use of Our Services</h4>
            <hr>
            <div class="policyDescriptionText">

              <ul class="policyLists">
                <li>
                  <p>You must not interfere or disrupt the Services or servers, or networks connected to the Services,
                    including by transmitting any worms, viruses, spyware, malware, or other such destructive codes. You
                    may not alter or interfere with the way any our Services is rendered or displayed in a user's
                    browser or device.
                  </p>
                </li>
                <li>
                  <p>You must not attempt to copy, modify, duplicate, create derivative works from, frame, mirror,
                    republish, download, display, transmit, or distribute all or any portion of the Services in any form
                    or media or by any means.

                  </p>
                </li>
                <li>
                  <p>You must not attempt to de-compile, reverse compile, disassemble, reverse engineer or otherwise
                    reduce to human-perceivable form all or any part of the Services.

                  </p>
                </li>
                <li>
                  <p>You must not attempt to access all or any part of the Services or its manuals/instructions provided
                    to you in order to build a product or service which competes with the Services.

                  </p>
                </li>
                <li>
                  <p>You must not use the Services to provide services to third parties unless we expressly permit you.
                  </p>
                </li>
                <li>
                  <p>You must not license, sell, rent, lease, transfer, assign, distribute, display, disclose, or
                    otherwise commercially exploit, or otherwise make the Services available to any third party except
                    unless we expressly permit you.
                  </p>
                </li>
                <li>
                  <p>You must not attempt to obtain, or assist third parties in obtaining, access to the Services,
                    unless we expressly permit you.
                  </p>
                </li>
                <li>
                  <p>You must use all reasonable endeavors to prevent any unauthorized access to, or use of, the
                    Services and, in the event of any such unauthorized access or use, promptly notify us.

                  </p>
                </li>
                <li>
                  <p>You must not access our API by means other than those expressly permitted by us.

                  </p>
                </li>
                <li>
                  <p>You must not attempt to restrict another user from using or enjoying the Services and you must not
                    encourage or facilitate violations of these Terms or any of our other terms.

                  </p>
                </li>
                <li>
                  <p>You must not conduct, facilitate, authorize or permit any text or data mining or web scraping in
                    relation to our websites or applications and the provided Services.
                  </p>
                </li>
              </ul>
            </div>

          </div>
          <div class="policyDescription" id="user">
            <h4 class="policyMainHeader">User Account & Content</h4>
            <hr>
            <div class="policyDescriptionText">
              <ul class="policyLists">
                <li>
                  <p>You need to create an account to use our Services. You are responsible for safeguarding your
                    account, so we advise that you create and use a strong password and limit its use to this account.
                    We cannot and will not be liable for any loss or damage arising from your failure to comply with the
                    above.

                  </p>
                </li>
                <li>
                  <p>All information you provide for account creation must be accurate.


                  </p>
                </li>
                <li>
                  <p>You shall not use the Services for any illegal or unlawful purpose. You hereby agree to comply with
                    all laws, rules, and regulations applicable to your use of the Services and any Content (defined
                    below) you provide


                  </p>
                </li>
                <li>
                  <p>You accept that we may send you messages as part of normal business operations in your use of our
                    Services

                  </p>
                </li>
                <li>
                  <p>It may be necessary for our employees, service providers, or agents may need to access your account
                    and content in order to diagnose a problem. When you contact our support team, it is implied that
                    you are allowing us to access your account for this purpose.
                  </p>
                </li>
                <li>
                  <p>Where you have a paid account, you will pay all applicable fees, taxes, and third-party fees
                    (including, for example, credit card fees, data charges, etc.) when due and, if such fees are being
                    paid via credit card or other electronic means, you authorize us to charge such fees and take steps
                    to collect the fees you owe us.
                  </p>
                </li>
                <li>
                  <p>You must not attempt to obtain, or assist third parties in obtaining, access to the Services,
                    unless we expressly permit you. You hereby authorize us to share your information with third-party
                    payment processors to store your payment method and use it in connection with purchases.

                  </p>
                </li>
                <li>
                  <p>By default, customer accounts are set to auto-renew and we may automatically charge you for such
                    renewal on or after the renewal date associated with your account unless you have cancelled the
                    Services prior to its renewal date. We may revise fee rates for the Services from time to time and
                    will provide you with email notice of any changes in fees at least thirty (30) days prior to your
                    services renewal date. You are responsible for providing complete and accurate billing information
                    to us. We may suspend or terminate your use of the Services if fees become past due. You are
                    responsible for all taxes and we will charge tax if required to do so by law.


                  </p>
                </li>
                <li>
                  <p>Our Services may contain links to third-party websites or applications. We make no representations
                    about such websites or applications, and you choose to access them at your own risk. You may only
                    link a site to any of our Services with our express approval. We reserve the right to withdraw
                    linking permission without notice. The site which you are linking must comply in all respects with
                    the content standards set out in these Terms. If you wish to link to our aapplications, please
                    contact <a href="mailto:(Info@halogen-group.com)">(Info@halogen-group.com)</a> info
                  </p>
                </li>
              </ul>

            </div>

          </div>
          <div class="policyDescription" id="security">
            <h4 class="policyMainHeader">Security</h4>
            <hr>
            <div class="policyDescriptionText">
              <p>In using features of the Services, you agree to keep your registration and login information
                confidential and secure. You agree to accept responsibility for all activities that occur under your
                username, email, or password, and to take steps toward account recovery in the event of a compromise. We
                will not be liable for any loss that you may incur as a result of someone else using your account or
                password. To protect the security of our Services and your account, we may terminate or suspend your
                account, change your user name or password, request additional information before we authorize
                transactions on your account, or take other reasonable actions.

              </p>
              <p>You hereby authorize us, directly or through third parties, to make necessary inquiries to validate
                your identity and account information including through requesting for information to confirm ownership
                of your email address, telephone number or financial instruments etc., and verifying your information
                against third party databases or through other sources. You further acknowledge that we may charge a fee
                for this verification process.


              </p>

            </div>

          </div>

          <div class="policyDescription" id="privacy">
            <h4 class="policyMainHeader">Privacy Policy & Data Protection</h4>
            <hr>
            <div class="policyDescriptionText">
              <p>We process information about you in accordance with our Privacy Policy accessible here <a
                  href="http://https://halogen-group.com/privacy-policy">https://halogen-group.com/privacy-policy</a> By
                using our Services, you consent to such processing, and you warrant that all data provided by you is
                accurate and legally obtained. You also confirm that all third-party personal data provided by you has
                been duly obtained with verifiable consent.</p>
            </div>

          </div>
          <div class="policyDescription" id="intellectual">
            <h4 class="policyMainHeader">Intellectual Property Rights & Ownership</h4>
            <hr>
            <div class="policyDescriptionText">
              <p>For purposes of these Terms: (i) "Content" means any data, text, files, information, usernames, images,
                graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship,
                applications, links, created tasks and associated information, text, files and other content or
                materials; and (ii) "User Content" means any Content that account holders (including you) provide to be
                made available through the Services. Content includes without limitation User Content.
              </p>
              <p>Our Services and all intellectual property in any Content therein including text, image, audio, video,
                or any other type of media in any format published on it are owned by us or our licensors or a third
                party and are protected by all forms of intellectual property laws including copyright and trademark
                laws. You agree that your use of our Services or its contents does not give you any ownership rights.
              </p>
              <p>You must not use any part of the Content on our applications for commercial purposes without obtaining
                a license to do so from us or our licensors. If you print off, copy, or download any part of our
                Services in a manner that is in breach of these Terms, your right to use our Services will cease
                immediately and you must, at our option, return or destroy any copies of the materials you have made.
              </p>
              <p>Although we give you permission to use our Services, we retain any intellectual property rights we have
                in the services.
              </p>
              <ul class="policyLists">
                <li>
                  <p> <span class="listRights">Content Ownership of the Content We Make</span> -
                    Unless otherwise stated, all materials contained on or within the Services, including, but not
                    limited to, text, graphics, images, code, illustrations, designs, icons, photographs, video clips,
                    and written and other materials (collectively, "Halogen Content"), as well as their selection and
                    arrangement, are protected by copyright, trademark, trade dress, patent, and/or other intellectual
                    property laws, and unauthorized use of Halogen Content may violate such laws and these Terms. Except
                    as expressly provided in these Terms, we do not grant any express or implied rights to use Halogen
                    Content. You agree that you will not copy, reproduce, republish, frame, download, transmit, modify,
                    display, reverse engineer, sell, or participate in any sale of, rent, lease, loan, assign,
                    distribute, license, sublicense, or exploit in any way, in whole or in part, Halogen Content, the
                    Services or any related software, except as expressly stated in these Terms. You agree not to
                    remove, alter, or obscure any copyright, trademark, service mark, or other proprietary rights
                    notices incorporated in or accompanying the Services or Content. You acknowledge that the Services
                    and Content are protected by intellectual property laws.

                  </p>
                </li>
                <li>
                  <p> <span class="listRights">Rights in User Content</span> -
                    We claim no ownership rights over the Content submitted or created exclusively by you in your
                    account. Any Content that is yours remains yours. These Terms do not grant us any licenses or rights
                    to your Content except for the limited rights needed for us to provide the Services to you.
                    Notwithstanding the foregoing, we may access Content to determine how we can improve our Service,
                    and to determine customer satisfaction.
                    Similarly, any reporting data we collect from your use of the Services remains yours. By using the
                    Services, you agree that we can use this data to provide the Services to you, and you also agree
                    that as long as the data is anonymized and does not identify you, we can combine this data with the
                    anonymized data of other organisations to provide benchmarking, public reports or to otherwise use
                    it to provide the Services.

                  </p>
                </li>
                <li>
                  <p> <span class="listRights">Alerts and Notification </span> -
                    As part of the Services we provide, you may receive notifications, text messages, alerts, emails,
                    or other types of messages directly sent to you outside or inside the applications
                    ("Notifications"). You have control over the Notifications settings and can opt in or out of these
                    Notifications through the Services (with the possible exception of infrequent, important service
                    announcements and administrative messages).

                  </p>
                  <p>
                    Some of the Services may be supported by advertising revenue and may display advertisements and
                    promotions, and you hereby agree that we may place such advertising and promotions on the Services
                    or on, about, or in conjunction with your Content. The manner, mode and extent of such advertising
                    and promotions are subject to change without specific notice to you.
                    You acknowledge that we may not always identify paid services, sponsored content, or commercial
                    communications as such.
                    You represent and warrant that: (i) you own the Content posted by you on or through the Services or
                    otherwise have the right to grant the rights and licenses set forth in these Terms of Use; (ii) the
                    posting and use of your Content on or through the Services does not violate, misappropriate, or
                    infringe on the rights of any third party, including, without limitation, privacy rights, publicity
                    rights, copyrights, trademark, and/or other intellectual property rights; (iii) you agree to pay for
                    all royalties, fees, and any other monies owed by reason of Content you post on or through the
                    Service; and (iv) you have the legal right and capacity to enter into these Terms of Use in your
                    jurisdiction.

                  </p>
                  <p>
                    You have no right to copy, imitate or use, in whole or in part, any of our trademarks without our
                    prior written permission. In addition, all page headers, custom graphics, button icons, and scripts
                    are our service marks, trademarks, and/or trade dress, and may not be copied, imitated or used, in
                    whole or in part, without prior written permission from us. Although it is our intention for the
                    Services to be available as much as possible, there will be occasions when the Services may be
                    interrupted, including, without limitation, for scheduled maintenance or upgrades, for emergency
                    repairs, for unscheduled downtime, for system and server failures, or due to failure of
                    telecommunications links and/or equipment. Consequently, we encourage you to maintain your own
                    backup of your Content. In other words, we are not a backup service and you agree that you will not
                    rely on the Services for the purposes of Content backup or storage. We will not be liable to you for
                    any modification, suspension, or discontinuation of the Services, or the loss of any Content. You
                    also acknowledge that the Internet may be subject to breaches of security and that the submission of
                    Content or other information may not be secure.
                    You agree that we are not responsible for, and do not endorse Content posted within the Services. We
                    do not have any obligation to screen, monitor, edit, or remove any Content. If your Content violates
                    these Terms, you may bear legal responsibility for that Content.

                  </p>
                  <p>Except as otherwise described in our Privacy Policy, as between you and us, any Content will be
                    non-confidential and non-proprietary and we will not be liable for any use or disclosure of Content.
                    You acknowledge and agree that your relationship with us is not a confidential, fiduciary, or other
                    type of special relationship, and that your decision to submit any Content does not place us in a
                    position that is any different from the position held by members of the general public, including
                    with regard to your Content. None of your Content will be subject to any obligation of confidence on
                    our part, and we will not be liable for any use or disclosure of any Content you provide. Subject to
                    your agreement and continuing compliance with these Terms and any of our other relevant policies, we
                    grant you a non-exclusive, non-transferable, revocable limited license to use the Services solely
                    for its intended purposes. You agree not to use the Service for any other purpose.
                  </p>
                  <p>This license is revocable at any time. This license is subject to these Terms and does not include:
                  </p>
                  <ul class="policyLists">
                    <li>
                      <p>
                        The distribution, public performance, or public display of our Content
                      </p>
                    </li>
                    <li>
                      <p>
                        Modifying or otherwise making any derivative uses of the Services or our Content, or any portion
                        thereof;
                      </p>
                    </li>
                    <li>
                      <p>
                        Use of any scraping, data mining, robots, or similar data gathering or extraction methods;
                      </p>
                    </li>
                    <li>
                      <p>
                        Downloading (other than page caching) any portion of the Services, our Content, or any
                        information contained therein, except as expressly permitted on the Services;

                      </p>
                    </li>
                    <li>
                      <p>
                        Accessing our API with an unauthorized or third-party client; and

                      </p>
                    </li>
                    <li>
                      <p>
                        Any use of the Services or our Content other than for their intended purposes.


                      </p>
                    </li>
                    <li>
                      <p>
                        Any use of the Services or our Content other than as specifically authorized in these Terms,
                        without our prior written permission, is strictly prohibited and will terminate the license to
                        use our Service and websites/applications granted in these Terms.

                      </p>
                    </li>
                  </ul>
                  <p>
                    It is our policy not to accept or consider content, information, ideas, suggestions, or other
                    materials other than those we have specifically requested and to which certain specific terms,
                    conditions and requirements may apply. This is to avoid any misunderstandings if your ideas are
                    similar to those we have developed or are developing independently.
                  </p>
                  <p>
                    If, despite our policy, you choose to send us content, information, ideas, suggestions, or other
                    materials, you further agree to the following:
                  </p>
                  <p>
                    For all reviews, comments, feedback, postcards, suggestions, ideas, and other submissions disclosed,
                    submitted, or offered to us via our Service, our sites, by e-mail or telephone, by mail, or
                    otherwise disclosed, submitted or offered in connection with your use of this Services
                    (collectively, “User Submissions”) you grant us a royalty-free, irrevocable, transferable right and
                    license to use the User Submissions however we desire, including without limitation, to copy,
                    modify, delete in its entirety, adapt, publish, translate, create derivative works from, and/or sell
                    and/or distribute such User Submissions and/or incorporate such User Submissions into any form,
                    medium, or technology throughout the world.

                  </p>
                  <p>We will be entitled to use, reproduce, disclose, modify, adapt, create derivative works from,
                    publish, display, and distribute any User Submissions you submit for any purpose whatsoever, without
                    restriction and without compensating you in any way. We are and shall be under no obligation (1) to
                    maintain any User Submissions in confidence; (2) to pay to you any compensation for any User
                    Submissions; or (3) to respond to any User Submissions. You agree that any User Submissions
                    submitted by you to us will not violate the right of any third party, including without limitation,
                    copyright, trademark, privacy, or other personal or proprietary right(s), and will not cause injury
                    to any person or entity. You further agree that no User Submissions submitted by you to us will be
                    or contain libellous or otherwise unlawful, threatening, abusive or obscene material, or contain
                    software viruses, political campaigning, commercial solicitation, chain letters, mass mailings or
                    any form of “spam”.
                  </p>
                  <p>
                    By using this Services, you agree to the above terms regarding User Submissions. Please note that
                    User Submissions shall not under any circumstances be considered User Content.

                  </p>

                </li>
              </ul>
            </div>
          </div>
          <div class="policyDescription" id="diclaimer">
            <h4 class="policyMainHeader">Disclaimer
            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>We have taken every effort and care in preparing the Services, however, the services, including,
                without limitation, our Content, is provided on an "as is", "as available", and "with all faults" basis.
                We disclaim all warranties, express or implied, as to the accuracy thereof, and the contents shall at
                all times constitute work in progress which we may change without notice. Halogen or our service
                providers makes no warranty that our applications, websites and Services will meet your requirements or
                remain free from any interruption, bugs, inaccuracies, and errors.

              </p>
              <p>Your use of our Services is at your own risk, and we shall not be liable for any loss or damage arising
                from your use of our Services or the contents therein. No advice or information, whether oral or written
                obtained by you from the use of our Services will create any warranty or condition not expressly stated.
              </p>
              <p>You are responsible for configuring your devices, computer programmes, equipment or gadgets in order to
                access our Services. Please ensure you use virus protection software as we cannot guarantee that our
                Services will be free from viruses or bugs</p>
              <p>By accessing or using the Service you represent and warrant that your activities are lawful in every
                jurisdiction where you access or use the Service.</p>
              <p>
                Halogen does not endorse content and specifically disclaim any responsibility or liability to any person
                or entity for any loss, damage (whether actual, consequential, punitive or otherwise), injury, claim,
                liability, or other cause of any kind or character based upon or resulting from any content
              </p>
            </div>
          </div>

          <div class="policyDescription" id="limitation">
            <h4 class="policyMainHeader">Limitation of Liability & Waiver
            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>Under no circumstances will Halogen be liable to you for any loss or damages of any kind (including,
                without limitation, for any direct, indirect, economic, exemplary, special, punitive, incidental, or
                consequential losses or damages) that are directly or indirectly related to: (a) the Services; (b) our
                Content; (c) User Content; (d) your use of, inability to use, or the performance of the Services; (e)
                any action taken in connection with an investigation by Halogen or law enforcement authorities regarding
                your or any other party's use of the Service; (f) any action taken in connection with copyright or other
                intellectual property owners; (g) any errors or omissions in the Service's operation; or (h) any damage
                to any user's computer, mobile device, or other equipment or technology including, without limitation,
                damage from any security breach or from any virus, bugs, tampering, fraud, error, omission,
                interruption, defect, delay in operation or transmission, computer line or network failure or any other
                technical or other malfunction, including, without limitation, damages for lost profits, loss of
                goodwill, loss of data, work stoppage, accuracy of results, or computer failure or malfunction, even if
                foreseeable or even if Halogen have been advised of or should have known of the possibility of such
                damages, whether in an action of contract, negligence, strict liability or tort (including, without
                limitation, whether caused in whole or in part by negligence, acts of god, telecommunications failure,
                or theft or destruction of the service). In no event will Halogen be liable to you or anyone else for
                loss, damage or injury, including, without limitation, death or personal injury.


              </p>
              <p>You agree that in the event you incur any damages, losses, or injuries that arise out of our acts or
                omissions, the damages, if any, caused to you are not irreparable or sufficient to entitle you to an
                injunction preventing any exploitation of any web site, service, property, product, or other content
                owned or controlled by Halogen, and you will have no rights to enjoin or restrain the development,
                production, distribution, advertising, exhibition, or exploitation of any of the Services, or other
                content owned or controlled by us.
              </p>
              <p>We are not responsible for the actions, content, information, or data of third parties, and you release
                us from any claims and damages, known and unknown, arising out of or in any way connected with any claim
                you have against any such third parties.
              </p>
            </div>
          </div>


          <div class="policyDescription" id="license">
            <h4 class="policyMainHeader"> License Limitations
            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>Any attempt by you to disrupt or interfere with the Services including undermining or manipulating the
                legitimate operation of any of our websites or applications is a violation of our Terms and policy and
                may be a violation of criminal and civil laws.

              </p>
              <p>Without limiting any other remedies, we may limit, suspend, terminate, modify, or delete accounts or
                access to the Services or portions thereof if you are, or are suspected to be, failing to comply with
                the Terms, with or without notice to you. You can lose your account and any user content as a result of
                account termination or limitation, as well as any benefits, privileges, earned items, and purchased
                items associated with your use of the service, and we are under no obligation to compensate you for any
                such losses or results.

              </p>
              <p>Without limiting our other remedies, we may limit, suspend, or terminate the service and user accounts
                or portions thereof, prohibit access to our services and sites, and their content, and tools, delay or
                remove hosted content, and take technical and legal steps to prevent users from accessing the Services
                if we believe that they are creating risk or possible legal liabilities, infringing the intellectual
                property rights of third parties, or acting inconsistently with the letter or spirit of our Terms or
                policies. Additionally, we may, in appropriate circumstances and at our sole discretion, suspend or
                terminate accounts of users who may be repeat infringers of third-party intellectual property rights.

            </div>
          </div>


          <div class="policyDescription" id="suspension">
            <h4 class="policyMainHeader"> Suspension or Withdrawal of Our Services
            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>We do not guarantee that our Services, or any content on it, will always be available or be
                uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our
                Services for business reasons, operational reasons or as we deem fit. We will try to give you reasonable
                notice of any suspension or withdrawal. You are also responsible for ensuring that all persons who
                access our Services through your account are aware of these Terms and that they comply with them.
              </p>
              <p>We reserve the right to stop offering and/or supporting the Service or a particular part of the
                Services at any time either permanently or temporarily. In such event, we shall not be required to
                provide refunds, benefits or other compensation to users in connection with such discontinued elements
                of the Services.
              </p>

            </div>
          </div>
          <div class="policyDescription" id="breach">
            <h4 class="policyMainHeader"> Breach of Terms of Use

            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>Failure to comply with the Terms as stated constitutes a material breach and may result in our taking
                all or any of the following actions:
              </p>
              <ul class="policyLists">
                <li>
                  <p>
                    Immediate, temporary, or permanent withdrawal of your right to use our Services and our applications
                  </p>
                </li>
                <li>
                  <p>
                    Termination of your account.
                  </p>
                </li>
                <li>
                  <p>
                    Issuance of a warning to you.

                  </p>
                </li>
                <li>
                  <p>
                    Investigations and legal proceedings against you for breach of Terms.

                  </p>
                </li>
                <li>
                  <p>
                    Institutions for proceedings for reimbursement of all costs on an indemnity basis (including, but
                    not limited to, reasonable administrative and legal costs) resulting from the breach.
                  </p>
                </li>
                <li>
                  <p>
                    Disclosure of such information to law enforcement authorities as we reasonably feel is necessary or
                    as required by law.

                  </p>
                </li>

              </ul>
              <p>We exclude our liability for all action we may take in response to breaches of the Terms. The actions
                we may take are not limited to those described above, and we may take any other action we reasonably
                deem appropriate.
              </p>
              <p>You hereby acknowledge that we have no obligation to screen or supervise your access to or use of our
                Services or any information, materials or other content provided or made available through the Services,
                though we have the right to do so. You hereby agree that in our sole discretion, we may remove or delete
                any data, accounts or other content that infringes these Terms or that is otherwise offensive.

              </p>

            </div>
          </div>
          <div class="policyDescription" id="waiver">
            <h4 class="policyMainHeader"> No Waiver

            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>Any failure or delay by us in exercising a right or remedy under or in relation to these Terms will not
                be construed as a waiver of any provision or right. No waiver of any of these Terms will be deemed a
                further or continuing waiver of such term or condition or any other term or condition

              </p>
            </div>
          </div>
          <div class="policyDescription" id="indemnification">
            <h4 class="policyMainHeader"> Indemnification
            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>You, and any third party for whom you operate an account or activity on the Services, shall defend,
                indemnify, and​ hold harmless Halogen and its members, officers, employees, and respective assigns from
                and against any and all liabilities and expenses arising from or related to your breach of these Terms
                including your violation of any third-party right, including without limitation, any intellectual
                property right, publicity, confidentiality, property, or privacy right; your violation of any applicable
                laws and regulations or any misrepresentation made by you.

              </p>
              <p>You agree to cooperate as may be required by us in the defence of any claim. We reserve the right to
                assume the exclusive defence and control of any matter subject to indemnification by you, and you will
                not in any event settle any claim without our prior written consent. Notwithstanding the foregoing, you
                agree that the cost of any such defence will be at your sole and exclusive expense
              </p>

            </div>
          </div>
          <div class="policyDescription" id="severability">
            <h4 class="policyMainHeader">Severability</h4>
            <hr>
            <div class="policyDescriptionText">
              <p>If any of the terms or conditions herein shall be deemed invalid, void, or for any reason
                unenforceable, that term or condition shall be deemed severable and shall not affect the validity and
                enforceability of any remaining term or condition.

              </p>
            </div>
          </div>
          <div class="policyDescription" id="termination">
            <h4 class="policyMainHeader">Termination

            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>We may terminate this agreement at any time, with or without notice, for any reason
              </p>
            </div>
          </div>
          <div class="policyDescription" id="applicable">
            <h4 class="policyMainHeader"> Applicable Law
            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>You agree that these Terms shall be interpreted and governed in accordance with the Laws of the Federal
                Republic of Nigeria

              </p>
            </div>
          </div>
          <div class="policyDescription" id="dispute">
            <h4 class="policyMainHeader"> Dispute Resolution

            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>If you have an issue with our Services, please contact us and we will endeavour to resolve your issue
                as soon as possible. Please note that disputes or claims arising out of or in connection to these Terms
                shall be submitted to mediation in accordance with the Lagos Court of Arbitration (“LCA”) Mediation
                Guidelines 2011. If the dispute is not resolved through Mediation, the parties agree to immediately
                proceed to resolve the dispute through Arbitration at the Lagos Multi-door Court House. An award of the
                Multi-door Court may be entered, and application made for its enrolment in any court having jurisdiction
                for purposes of enforcement. Each party shall bear its cost of the proceedings.

              </p>
            </div>
          </div>
          <div class="policyDescription" id="amendment">
            <h4 class="policyMainHeader"> Amendment

            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>These Terms of Use cannot be modified, varied, amended, or supplemented in any way by you. We reserve
                the right to modify, vary, amend, or supplement these Terms at any time and from time to time. We will
                post the current version of these Terms on our websites and applications or send the same to you via
                your email address and each such change will be effective upon posting on our sites or upon the date
                designated by us as the “effective date” (if any). Your continued use of the Services following any such
                change constitutes your agreement to be bound by and its acceptance of these Terms as so modified



              </p>
            </div>
          </div>
          <div class="policyDescription" id="contact">
            <h4 class="policyMainHeader"> Contact

            </h4>
            <hr>
            <div class="policyDescriptionText">
              <p>Any questions or concerns related to this​ Terms of Use should be sent to <a
                  href="mailto: info@halogen-group.com"> info@halogen-group.com</a>


              </p>
            </div>
          </div>
        </div>
      </div>
    </div>