.leader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.leader p {
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  font-weight: 600;
  margin-top: 1.5rem;
}

.leader span {
  font-size: clamp(0.625rem, 0.3906rem + 0.75vw, 0.8125rem);
  opacity: 0.5;
  margin-top: 0.5rem;
}

.dg-container {
  position: relative;
}

.modal-header {
  position: relative !important;
  margin: 0 !important;
}
.btn-close {
  position: absolute !important;
  top: 15px !important;
  right: 15px !important;
}
.dialog-image {
  background: #c1bebe;
  height: 270px;
  width: 270px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-image img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}
.dg-content {
  position: relative;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 1.8rem; */
  background: #f2f2f2;
  padding: 1rem;
  /* z-index: 999; */
}

.dialog-header h2,
.dialog-header p {
  white-space: nowrap;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.dialog-header h2 {
}

.dialog-header p {
  color: rgba(0, 0, 0, 0.5);
}

.dg-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 35px */
  text-align: justify;
  letter-spacing: 0.02em;
  color: rgba(10, 10, 10, 0.8);
}
.about-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 35px */
  text-align: justify;
  letter-spacing: 0.02em;
  color: rgba(10, 10, 10, 0.8);
}

@media screen and (max-width: 500px) {
  .leader img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .dg-container {
    width: 90%;
  }

  .dg-content p {
    font-size: 14px;
  }
}
